<style>
  .owl-stage-outer{
  height :500px;
  }

</style>
<div id="blog_home" class="menu-recent module-nav2">
  <div class="">
    <div class="blog-title module-title">
      {% if section.settings.heading != blank %}  
      <h2>{{ section.settings.heading }}</h2>
      {% endif %}
    </div>
    <div class="swiper-container">
  <div class="swiper-wrapper">
    {% for article in blogs[section.settings.blog].articles %}
    <div class="swiper-slide">
      <div class="articles-inner">
        <div class="articles-image">
          <a href="{{ article.url }}">
            <img src="{{ article.image.src | img_url: '270x178' }}" alt="{{ article.title }}">
            <span class="icon-view"></span>
          </a>
        </div>
        <div class="aritcles-content">
          <div class="content-inner">
            <div class="box-name">
              <p class="date-time-post">
                <time datetime="{{ article.published_at | date }}">
                  <span>
                    {{ article.published_at | date: '<span class="date-post">%d</span><span class="month-post">%b</span>' }}
                  </span>
                </time>
              </p>
              <a class="articles-name" href="{{ article.url }}" style="font-size:15px">{{ article.title }}</a>
            </div>
            <a class="read-more" href="{{ article.url }}">{{ 'blogs.article.readmore' | t }}</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  </div>
</div>


<script>
  





  document.addEventListener("DOMContentLoaded", function () {
    var mySwiper = new Swiper(".swiper-container", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true, // Set to true if you want the carousel to loop
      // Add other Swiper configuration options as needed
    });
  });
</script>


  
//   $(document).ready(function() {
//     $(".articles-container").owlCarousel({
//       autoPlay :  false ,
//       items : {{ section.settings.items }},
//       margin: 30,
//       loop: false,			
//       navSpeed : 1000,
//       dotsSpeed : 1000,
//       autoplaySpeed : 1000,
//       nav :  false ,
//       dots :  true ,

//       responsive:{
//       0:{
//       items: 1,
//       nav: false
//     },
//                                          480:{
//                                          items: 2,
//                                          nav: false
//                                          },
//                                          768:{
//                                          items: 3
//                                          },
//                                          992:{
//                                          items: 4
//                                          },
//                                          1200:{
//                                          items: 5
// //                                          {{ section.settings.items }}
//                                          }
//                                          }
//                                          });
//   });
