<!-- cart main area start -->
<div id="checkout-cart" class="container">
  <div>
    <div
      style="
                   display: flex;
           margin: 0em 1em;
          gap: 2em;
          justify-content: left;
        boder-bottom: 2px solid black;
      "
    >
      <a href="/checkout"
        ><button
          style="
                               font-size:1.1rem;
                    background-color: green;
                    border: none;
                    padding: 1em 0em;
            width: 14em;
                    border-radius: 4px;
          "
          type="button"
        >
          Proceed to Buy ({{ cart.item_count }} items)
        </button></a
      >

      <a href="/">
        <button
          style="
                             font-size:1.1rem;
                            background-color: #ffc000;

                    border: none;
                     padding: 1em 0em;
            width: 14em;
                    border-radius: 4px;
          "
        >
          Continue Shopping
        </button></a
      >
    </div>
    <h1>{{ 'cart.general.title' | t }}</h1>
    <ul>
      <li class="has-scroll">
        <table class="table">
          <tbody>
            {% if cart.item_count < 1 %}
              <p class="text-center cart-empty">{{ 'cart.general.no_items' | t }}</p>
            {% else %}
              {% for item in cart.items %}
                <tr>
                  <td class="text-center" style="width: 7em;  ">
                    <a href="{{ item.url }}">
                      <img
                        style="width: 7em;  "
                        class="cart-image"
                        src="{{ item | img_url: '100x100' }}"
                        alt="{{ item.title | escape }}"
                        title="{{ item.title | escape }}"
                      >
                    </a>
                  </td>
                  <td class="text-left info-item">
                    <a class="cart-name" href="{{ item.url }}">{{ item.product.title }}</a>
                    {% include 'custom-cart-view-page-count' %}
                    {% include 'custom-price-discount-tag' %}

                    <div
                      style="
                         display: flex;
                         justify-content: space-between;
                         align-items: center;
                        margin-right: 2em;
                      "
                    >
                      <div>
                        <button
                          product-id="{{ item.variant_id }}"
                          cart-quantity="{{ item.quantity  }}"
                          id="minusCart"
                          type="button"
                          onclick="updateCartCount(this)"
                          style="border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;"
                        >
                          -</button
                        ><span style="padding: 0.1em 0.5em;" id="itemQuantityBox">{{ item.quantity }}</span
                        ><button
                          product-id="{{ item.variant_id }}"
                          cart-quantity="{{ item.quantity  }}"
                          type="button"
                          id="addCart"
                          onclick="updateCartCount(this)"
                          style="border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;"
                        >
                          +
                        </button>
                      </div>
                      <button
                        style="padding: 0.1em 0.5em;border: 1px solid black; border-radius: 2px; background-color: #e7e7e7; color: black;  "
                        type="button"
                        onclick="removeItem(this, {{ item.variant_id }});"
                        title="Remove"
                      >
                        Delete item
                      </button>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </li>
      <li
        {% if cart.item_count < 1 %}
          class="hide"
        {% endif %}
      >
        {% comment %}
          <table class="table">
            <tr>
              <td class="text-left">{{ 'cart.general.subtotal' | t }} :</td>
              <td class="text-right" id="cart-subtotal">{{ cart.total_price | money }}</td>
            </tr>
          </table>
          <p class="text-center cart-button">

              <a href="/cart">{{ 'cart.general.view_cart' | t }}</a>
              <a href="/checkout">{{ 'cart.general.checkout' | t }}</a>

            <button style=" background-color: green;" onclick="viewCart()">{{ 'cart.general.view_cart' | t }}</button>
            <button style=" background-color: red;" onclick="closeCartView()">{{ 'cart.general.checkout' | t }}</button>
          </p>
        {% endcomment %}
      </li>
    </ul>
  </div>
</div>

{% unless section.settings.shipping_calculator == 'Disabled' %}
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      shippingCalcSubmitButton: {{ section.settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' | json }},
      shippingCalcSubmitButtonDisabled: {{ section.settings.shipping_calculator_submit_button_label_disabled | default: 'Calculating...' | json }},
      {% if customer %}shippingCalcCustomerIsLoggedIn: true,{% endif %}
      shippingCalcMoneyFormat: {{ shop.money_with_currency_format | json }}
    }
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <script src="/services/javascripts/countries.js"></script>
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {{ 'shipping-cart.js' | asset_url | script_tag }}

  <script>
    Shopify.Cart.ShippingCalculator.show( {
      submitButton: theme.strings.shippingCalcSubmitButton,
      submitButtonDisabled: theme.strings.shippingCalcSubmitButtonDisabled,
      customerIsLoggedIn: theme.strings.shippingCalcCustomerIsLoggedIn,
      moneyFormat: theme.strings.shippingCalcMoneyFormat
    } );
  </script>
{% endunless %}
{% if section.settings.cart_terms_c_enable %}
  <script>
    $(document).ready(function() {
      $('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {
        if ($('#agree').is(':checked')) {
          $(this).submit();
        }
        else {
          alert("{{ 'cart.general.terms_c_agree' | t }}");
                return false;
                }
                });
        });
  </script>
{% endif %}
