<style>
    .sidecart {
      margin-top: 4em;
      padding-top:0.5em;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 24;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidecart .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 2rem;
      margin-left: 2em;
      text-decoration: none;
      color: black;
      display: block;
      transition: 0.3s;
    }

  .open-text{
    display: block;
    width: 22%;
    margin-left: auto;
  }

  .proceed-to-buy-btn{
    display: block;
    background-color: #ffc000;
    margin: 1em auto;
    border: none;
    padding: 0.6em 2em;
    border-radius: 8px;
    color: black;
  }

  .big-button-container{
    border-bottom: 2px solid gray ;
    padding: .5em;
  }
  .shopping-cart-heading{
    text-align: center;
    font-size: 2rem;
  }

  .shopping-cart-items{
    display: flex;
    gap: 1em;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
  }
</style>

<div id="mysidecart" class="sidecart">
  <div class="big-button-container">
    <a href="/checkout"><button type="button" class="proceed-to-buy-btn">Proceed to Buy ({{ cart.item_count }} items)</button></a>
    
  </div>
  <h2 class="shopping-cart-heading">Shopping Cart</h2>
  
  <div class="shopping-cart-items">
    <ul>
      <li class="has-scroll">
        <table class="table">
          <tbody>
            {% if cart.item_count < 1 %}
              <p class="text-center cart-empty">{{ 'cart.general.no_items' | t }}</p>
            {% else %}
              {% for item in cart.items %}
                <tr>
                  <td class="text-center">
                    <a href="{{ item.url }}">
                      <img
                        style="width: 30em;  "
                        class="cart-image"
                        src="{{ item | img_url: '100x100' }}"
                        alt="{{ item.title | escape }}"
                        title="{{ item.title | escape }}"
                      >
                    </a>
                  </td>
                  <td class="text-left info-item">
                    <a class="cart-name" href="{{ item.url }}">{{ item.product.title }}</a>
                     {% include 'custom-cart-view-page-count' %}
              
                    <p style=" color: #62ab00; font-weight: bold;">{{ item.line_price | money }}</p>
                     {% include 'price' %}
                   <div style="    display: flex;
    justify-content: space-between;
    align-items: center; ">
                    <div>
                    <button
                      product-id="{{ item.variant_id }}"
                      cart-quantity="{{ item.quantity  }}"
                      id="minusCart"
                      type="button"
                      onclick="updateCartCount(this)"
                      style="border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;"
                    >
                      -</button
                    ><span style="padding: 0.1em 0.5em;" id="itemQuantityBox">{{ item.quantity }}</span
                    ><button
                      product-id="{{ item.variant_id }}"
                      cart-quantity="{{ item.quantity  }}"
                      type="button"
                      id="addCart"
                      onclick="updateCartCount(this)"
                      style="border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;"
                    >
                      +
                    </button>
                    </div>
                    <button
                      style="padding: 0.1em 0.5em;border: 1px solid black; border-radius: 2px; background-color: #e7e7e7; color: black;  "
                      type="button"
                      onclick="removeItem(this, {{ item.variant_id }});"
                      title="Remove"
                      
                    >
                      Delete item
                      <svg styel =" fill: black"xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                    </button>
                   </div>
                  </td>
    
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </li>
      <li
        {% if cart.item_count < 1 %}
          class="hide"
        {% endif %}
      >
        {% comment %}
        <table class="table">
          <tr>
            <td class="text-left">{{ 'cart.general.subtotal' | t }} :</td>
            <td class="text-right" id="cart-subtotal">{{ cart.total_price | money }}</td>
          </tr>
        </table>
        <p class="text-center cart-button">
          
            <a href="/cart">{{ 'cart.general.view_cart' | t }}</a>
            <a href="/checkout">{{ 'cart.general.checkout' | t }}</a>
        
          <button style=" background-color: green;" onclick="viewCart()">{{ 'cart.general.view_cart' | t }}</button>
          <button style=" background-color: red;" onclick="closeCartView()">{{ 'cart.general.checkout' | t }}</button>
        </p>
                        {% endcomment %}
      </li>
    </ul>
  </div>
</div>

<script>
  function removeItem(ref, variantId) {
 
  cart.remove(variantId);

  let row = ref.closest('tr');
  
  row.remove();
}

   function updateCartCount(ref) {
      console.log(ref)
      let productId = ref.getAttribute('product-id')
      let actionType = ref.getAttribute('id')
      let cartQuantity = parseInt(ref.getAttribute('cart-quantity'))
      let newQuantity = cartQuantity;

      if (actionType !=null) {
        switch (actionType) {
          case 'addCart':
            newQuantity = cartQuantity + 1;
            break;
          case 'minusCart':
            newQuantity = cartQuantity - 1;
            break;
          default:
            break;
        }
      }

      cart.update(productId, newQuantity);
      $('#itemQuantityBox').html(newQuantity);

      // Updates the 'cart-quantity' attribute for both buttons
      $("button[product-id='" + productId + "']").attr('cart-quantity', newQuantity);
  }


      function openCartView() {
        document.getElementById("mysidecart").style.width = "90%";
      }

      function closeCartView() {
        document.getElementById("mysidecart").style.width = "0";
      }
</script>


