<div class="sidebar-overlay"></div>
<!-- <div class="oc-menu"  id="sidebar-toggle">
  <input type="hidden" id="menu-effect-{{section.id}}" class="menu-effect" value="none" />
  <div class="oc-menu-bar visible-sm visible-xs">
    <div class="left"><i class="lnr lnr-text-align-left"></i> <span>{{ 'collections.sidebar.sidebar_filters' | t }}</span></div>
  </div>
</div> -->
<aside id="column-left" class="col-md-3">
  <div class="col-order-inner">
    <div class="layernavigation-module">
      <div class="panel panel-default">
        <div class="panel-heading layered-heading">
          {{ 'collections.sidebar.shop_by' | t }}
        </div>
        {% if page_title != 'Products' %}{% endif %}
        <div class="layered">
          <div class="list-group">
            <div class="filter-attribute-container filter-attribute-remove-container">
            </div>
            {% if section.settings.collection_sidebar_menu != blank %}
            <div class="filter-attribute-container">
              <label>{{"Categories"}}</label> 
<!--                linklists[section.settings.collection_sidebar_menu].title  -->
              <div class="list-group-item">
                <div id="filter-group0">
               
            
                  {% for link in linklists[section.settings.collection_sidebar_menu].links %}
                  <a class="a-filter add-filter {% if link.active %} active {% endif %}" href="{{link.url}}">{{link.title}}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            
 {% assign catstr = "" %}
        {% assign bool = false %}
            {% assign catbool = false %}
            {% assign subcatbool = false %}

               {% assign reqPath = request.path | upcase  %}
              
            {% if section.settings.show_sidebar_categories %}
            <div class="filter-attribute-container">
              <label>{{ "Sub-Categories"}}</label>
              <div class="list-group-item">
                <div id="filter-group0">
                
                  
                  {% for link in linklists.main-menu.links %}
                  
                  {% assign linktitle = link.url | upcase %}       
                 
                  {% assign reqPath = reqPath | upcase %}  
                  
                  {%if reqPath == linktitle %}
                  {% assign catbool = true %}      
                  {% assign bool = true %}
                
                  {%break%}
                  {%endif%}
                  
                  {% for child_link in link.links %}
                  
                  {% assign sublinktitle = child_link.url  | upcase %}                    
            
                  

<!--                     <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">{{reqPath}} "sss" {{sublinktitle}}</a>           -->
               
                  {%if  sublinktitle contains reqPath %}
                  {% assign subcatbool = true %}                 
                  {% assign bool = true %}
                    
                  {% assign catstr = link.url %}
                  
                  {%break%}
                  {%endif%}
                  
                  {%endfor%} <!--- child_link for --->
                  
                  {%if bool == true%}
                  {%break%}
                  {%endif%}
                  
                  {%endfor%}<!--- link for --->
                  
<!--                 <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{}}">{{catbool}} {{subcatbool}} {{sublinktitle}}</a>    -->
                  {%if catbool == true%}
                  
                  
                  {% for link in linklists.main-menu.links %}
                  
                  {% assign linktitle = link.url | upcase  %}                  
          
                  {%if reqPath contains linktitle %}
                  
                  {% for child_link in link.links %}
                  
                  <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">{{child_link.title}}</a>
                   
                  {%endfor%}                  
                  {%endif%}
                  {%endfor%}
                  
                  {%elsif subcatbool == true%}
                  
                  {% for link in linklists.main-menu.links %}
                  {% assign li = catstr | upcase | replace: " " , "-"  %} 
                  {% assign l = link.title | upcase | replace: " " , "-"  %}                  
                  
<!--                    <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">{{li}} {{l}}</a> -->
                 

                  
                  {%if catstr  contains link.url %}
                  {% for child_link in link.links %}
                 
                  <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">{{child_link.title}}</a>
                 
                  
                
                  {%endfor%}                
                  {%endif%}
                  {%endfor%}
                  
                  
                  
                  {%endif%}
                  
                  
                
                
                  
                  
                  
                </div>
              </div>
            </div>
            {% endif %}
         
     
            
            
               {% if section.settings.collection_sidebar_filters == 'groups' %}
            {% if collection.all_tags.size > 0 %}
            {% comment %}
            Loop through tag categories
            {% endcomment %}
            {% for cat_item in cat_array %}
            <div class="filter-attribute-container">
              <label>{{ cat_item }}</label>
              <div class="list-group-item">
                <div id="filter-group{{forloop.index}}" class="advanced-filters" data-filter-group="{{ cat_item }}">
                  {% comment %}
                  Loop through collection tags
                  {% endcomment %}
                  {% for tag in collection.all_tags %}
                  {% assign cat = tag | split: '_' | first %}              
                  {% if cat != tag and cat_item == cat %}
                  {% comment %}
                  Strip out tag category prefix and add/remove link for tag filtering
                  {% endcomment %}
                  {% if current_tags contains tag %}
                  <span class="active-filter">
                    {{ tag | remove_first: cat_item | remove_first: '_' | link_to_remove_tag: tag }}
                  </span>
                  {% else %}
                  <span>
                    {{ tag | remove_first: cat_item | remove_first: '_' | link_to_add_tag: tag }}
                  </span>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
            {% else %}
            
            <div class="filter-attribute-container">
              <label>Book Type</label>
              <div class="list-group-item">
                <div id="filter-group{{forloop.index}}">
                  {% if template contains 'collection' and collection.all_tags.size > 0 %}
                  {% comment %}
                  Provide a 'catch-all' link at the top of the list,
                  we'd check against the collection.handle, product type, and vendor.
                  {% endcomment %}
                  {% if current_tags %}
                  {% comment %}
                  Good for /collections/all collection and regular collections
                  {% endcomment %}
                  {% if collection.handle %}
<!--                   <a href="/collections/{{ collection.handle }}">
                    {{ 'collections.sidebar.all' | t }}
                    {% unless collection.title == 'Products' %}
                    {{ collection.title }} ({{ collection.count }})
                    {% endunless %}
                  </a> -->
                  {% comment %}
                  Good for automatic type collections
                  {% endcomment %}
                  {% elsif collection.current_type %}
                  <a href="{{ collection.current_type | url_for_type }}">{{ 'collections.sidebar.all_collection' | t: collection_title: collection.title }}</a>
                  {% comment %}
                  Good for automatic vendor collections
                  {% endcomment %}
                   {% elsif collection.current_vendor %}
                  <a href="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.sidebar.all_collection' | t: collection_title: collection.title }}</a>
                  {% endif %}
                  {% endif %} 
                  {% comment %}
                  And for the good stuff, loop through the tags themselves.
                  Strip the prepended categories if they happen to exist.
                  {% endcomment %}
                  {% for tag in collection.all_tags %}
                   {% assign t = tag %}
              {%if  t contains "Chapter-wise Q&A" or t contains "Chapter-wise Solved Papers" or t contains "GuideBook" or t contains "Practice Sets" or t contains "Solved Papers" or t contains "Textbook" or t contains "TextBook" %}
                  
                  
                  {% assign is_advanced_tag = false %}
                  {% assign cat = tag | split: '_' | first %}
                  {% unless cat == tag %}
                  {% if cat_array contains cat %}
                  {% assign is_advanced_tag = true %}
                  {% if current_tags contains tag %}
                  <span class="active-filter">
                    {{ tag | remove_first: cat | remove_first: '_' }}
                  </span>
                  {% else %}
                  <span>
                    {{ tag | remove_first: cat | remove_first: '_' | link_to_tag: tag }}
                  </span>
                  {% endif %}
                  {% endif %}
                  {% endunless %}
                  {% if is_advanced_tag == false %}
                  {% if current_tags contains tag %}

                  {% else %}
                  {{ tag | link_to_tag: tag }}
                  {% endif %}
                  {% endif %}
                  {%endif%}
        
                  {% endfor %}
                  
                  
                  
                  {% else %}
<!--                   <p>{{ 'collections.sidebar.no_tags' | t }}</p> -->
                  {% endif %}
                </div>
              </div>
              
              
            </div>
            {% endif %}
            
            
            
            
              {% if section.settings.show_sidebar_categories %}
                <div class="filter-attribute-container">
              <label>Meduim</label>
              <div class="list-group-item">
                <div id="filter-group{{forloop.index}}">
                  {% if template contains 'collection' and collection.all_tags.size > 0 %}
                  {% comment %}
                  Provide a 'catch-all' link at the top of the list,
                  we'd check against the collection.handle, product type, and vendor.
                  {% endcomment %}
                  {% if current_tags %}
                  {% comment %}
                  Good for /collections/all collection and regular collections
                  {% endcomment %}
                  {% if collection.handle %}
<!--                   <a href="/collections/{{ collection.handle }}">
                    {{ 'collections.sidebar.all' | t }}
                    {% unless collection.title == 'Products' %}
                    {{ collection.title }} ({{ collection.count }})
                    {% endunless %}
                  </a> -->
                  {% comment %}
                  Good for automatic type collections
                  {% endcomment %}
                  {% elsif collection.current_type %}
                  <a href="{{ collection.current_type | url_for_type }}">{{ 'collections.sidebar.all_collection' | t: collection_title: collection.title }}</a>
                  {% comment %}
                  Good for automatic vendor collections
                  {% endcomment %}
                   {% elsif collection.current_vendor %}
                  <a href="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.sidebar.all_collection' | t: collection_title: collection.title }}</a>
                  {% endif %}
                  {% endif %} 
                  {% comment %}
                  And for the good stuff, loop through the tags themselves.
                  Strip the prepended categories if they happen to exist.
                  {% endcomment %}
                  {% for tag in collection.all_tags %}
                   {% assign t = tag %}
              {%if t == "Hindi" or t contains "English" or t contains "Bilingual" %}
                  
                  
                  {% assign is_advanced_tag = false %}
                  {% assign cat = tag | split: '_' | first %}
                  {% unless cat == tag %}
                  {% if cat_array contains cat %}
                  {% assign is_advanced_tag = true %}
                  {% if current_tags contains tag %}
                  <span class="active-filter">
                    {{ tag | remove_first: cat | remove_first: '_' }}
                  </span>
                  {% else %}
                  <span>
                    {{ tag | remove_first: cat | remove_first: '_' | link_to_tag: tag }}
                  </span>
                  {% endif %}
                  {% endif %}
                  {% endunless %}
                  {% if is_advanced_tag == false %}
                  {% if current_tags contains tag %}

                  {% else %}
                  {{ tag | link_to_tag: tag }}
                  {% endif %}
                  {% endif %}
                  {%endif%}
        
                  {% endfor %}
                  
                  
                  
                  {% else %}
<!--                   <p>{{ 'collections.sidebar.no_tags' | t }}</p> -->
                  {% endif %}
                </div>
              </div>
              
              
            </div>
<!--             <div class="filter-attribute-container">
              <label>{{ "Medium"}}</label>

              <div class="list-group-item">
                <div id="filter-group0">
                  <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">Hindi</a>
                  <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">English</a>
                  <a class="a-filter add-filter {% if child_link.active %} active {% endif %}" href="{{child_link.url}}">Bilingual</a>
          
                </div>
              </div>
            </div> -->
            {% endif %}
         
            <!-- add the vendor as product tag to product then use this code in collection.liquid -->
            <!-- if we are on a collection page that is either custom or smart -->
            {% if section.settings.show_sidebar_vendors %}
            {% if collection.url != blank %}
            <div class="filter-attribute-container">
              <label>{{ 'collections.sidebar.vendors' | t }}</label>
              <div class="list-group-item">
                <div id="filter-group0">
                  {% for product_vendor in collection.all_vendors %}
                  {% if current_tags contains product_vendor %}
                  {{ product_vendor | link_to_vendor }}
                  {% else %}
                  {{ product_vendor | link_to_vendor }}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endif %}

            {% comment %}
            The code below relies on the advanced-tag-loop snippet.
            The snippet is already included in snippets/breadrumbs.liquid
            because it is needed there too, but if you remove
            breadcrumbs you need to include this:

            {% endcomment %}
            {% include 'advanced-tag-loop' %}
         
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(".filter-attribute-container").find("a").addClass("advanced-filter a-filter add-filter");
      $("#adil").find("a").addClass("active-filter a-filter add-filter");
    </script>
    {% if section.settings.show_collection_side_listing %}
    <div class="tt_product_module multi-rows list-module3" id="product_module{{section.id}}">
      <div class="module-title">
        <h2>{{ section.settings.collection_side_listing_title }}</h2>
      </div>
      <div class="owl-container">
        <div class="tt-product  owl-carousel owl-theme ">
          <div class="row_items {% cycle 'odd','even' %}">
            {% assign product_collection = settings.collection_side_listing %}
            {% for product in collections[product_collection].products %}
            {% include 'product-grid-item-list-small' %}
            {% if forloop.last == false %}
            {% cycle '','','</div><div class="row_items">' %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>  
    <script >
      var product_owlCarousel = $("#product_module{{section.id}} .tt-product");
                                  product_owlCarousel.owlCarousel({
                                  loop:  false ,
                                  margin:  0 ,
                                  nav:  false ,
                                  dots:  true ,
                                  autoplay:   false ,
                                  autoplayTimeout:  1000 ,
                                  autoplayHoverPause: true,
                                  autoplaySpeed:  1000 ,
                                  navSpeed:  1000 ,
                                  dotsSpeed:  1000 ,
                                  lazyLoad: true,
                                  responsive:{
                                  0:{
                                  items: 1,
                                  nav: false
                                  },
                                  480:{
                                  items: 2,
                                  nav: false
                                  },
                                  768:{
                                  items: 2
                                  },
                                  992:{
                                  items: 1
                                  },
                                  1200:{
                                  items: 1
                                  },
                                  1600:{
                                  items: 1
                                  }
                                  },
                                  onInitialized: function() {
        owlAction();
        var i = 0;
        $('.owl-dots > .owl-dot').each(function() {
          $(this).addClass('clk-' + i);
          i++;
        });
      },
        onTranslated: function() {
          owlAction();
        }
      });
      function owlAction() {
        $("#product_module{{section.id}} .tt-product .owl-item").removeClass('first');
          $("#product_module{{section.id}} .tt-product .owl-item").removeClass('last');
          $("#product_module{{section.id}} .tt-product .owl-item").removeClass('before-active');
          $("#product_module{{section.id}} .tt-product .owl-item.active:first").addClass('first');
          $("#product_module{{section.id}} .tt-product .owl-item.active:last").addClass('last');
          $('#product_module{{section.id}} .tt-product .owl-item.active:first').prev().addClass('before-active');
          }
          function timerslider(x){
          $(".list-thumb .thumb .row_thumb div").removeClass('active');
          $('.thumbinner' + x).addClass('active');
          $('.clk-' + x).trigger('click');
        }
    </script>
    {% endif %}
    {% if section.settings.show_collection_side_image and section.settings.collection_side_image %}
    <div class="banner-static static-sidebar">
      <a href="{{ section.settings.collection_side_link }}">
        <img src="{{ section.settings.collection_side_image | img_url: 'master' }}" alt="#">
      </a>
    </div>
    {% endif %}
    <div></div>
  </div>
</aside>
<script>
  $(function() {
    // collection sidebar 
    $("#column-left").on("click",".advanced-filters a",function (event) {
      event.preventDefault();
      var url = $(this).attr('href');
      $.ajax({
        type: 'GET',
        url: url,
        data: {},
        beforeSend: function( xhr ) {
          $("#wraper_ajax").show();
        },
        complete: function (data) {  
          $('#custom-products').html($("#custom-products", data.responseText).html());
          $('#column-left').html($("#column-left", data.responseText).html());
          $('#collection-amount').html($("#collection-amount", data.responseText).html());
          if(localStorage.getItem('type') == null) {
            var type = $('#category-view-type').val();
            var cols = $('#category-grid-cols').val();

            if(type == "list") {
              category_view.initView(type, cols, 'btn-list');
              category_view.customPriceBoxList();
            }

            if(type == 'grid') {
              category_view.initView(type, cols, 'btn-grid-' + cols);
              category_view.customPriceBoxGrid();
            }
          } else {
            var type = localStorage.getItem('type');
            var cols = localStorage.getItem('cols');
            var element = localStorage.getItem('element');

            category_view.initView(type, cols, element);
          }
          $('#pagination').html($("#pagination", data.responseText).html());
          history.pushState({
            page: url
          }, url, url);      
          $("#wraper_ajax").hide();
          SPR.registerCallbacks(), SPR.initRatingHandler(), SPR.initDomEls(), SPR.loadProducts(), SPR.loadBadges();
        }
      });
    });
  });
  
  
  function checkval(value){
    if(value == "Other")
    {
        alert("You Selected Other");
        //other logic will go here
    }
}
  
</script>



<!--                    {% for collection1 in collections limit:section.settings.category_count %}
                  {% unless collection1.handle == 'frontpage' or collection1.handle == 'all' %}
                  <a class="a-filter add-filter {% if collection1.handle == collection.handle %} active {% endif %}" href="{{ collection1.url }}">{{ collection1.title }} ({{ 'collections.general.items_with_count' | t: count: collection1.all_products_count }})</a>
                  {% endunless %}
                  {% endfor %}
  -->