<style>
                                  .textBox{

                                  height: 1em;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 2em;

                                  }

                                  .buy-now-row{

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-bottom: .8em;
                                  }

                                  .buy-now-row button{

                                    background-color: #A82B0B;
                                  }
                                          .buy-now-icon{
                                           width: 50px;
                                            height: 50px;
                                            background-color: #A82B0B;
                                            border-radius: 50%;
                                            z-index: 1;
                                            position: relative;
                                            left: 1.1em;
                                            padding: 0;


                                          }
                                  .buy-now-text{

                                      display: flex;
                      justify-content: center;
                                    align-items: center;

                                    background-color: #A82B0B;

                                    padding: .6em 1em;

                                  }

                  .more-buttons-div{
                                   height: 4em; display: flex; align-items: center; justify-content: center; gap: 2px

                  }
      .more-button-disabled{

        opacity: .5;
            cursor: not-allowed;
      }

                  .more-button{
      padding: .5em .5em; color: #004AAD; background-color: white;     display: flex;
                      justify-content: center; align-items: center;

                  }

    .button-icons{
  height: 2em;
      width: 2em;
    margin-right: .3em;
    }
</style>

<div class="buy-now-row">
  <!-- <button class="buy-now-icon">lo</button> -->
  {% if sold_out %}
    <div class="label-product label_sale l_sold">
      <span>Available on Amazon</span>
      <!-- <span>{{ 'products.product.sold_out' | t }}</span> -->
    </div>
  {% else %}
    <button
      onclick="processCollectionBuyNowPopup(this)"

      data-product-id="{{ product.variants.first.id }}"
      data-product-available="{{ product.variants.first.available }}"
      data-product-page="{{ product.url }}"

      class="buy-now-text {% if sold_out %} more-button-disabled  {% endif %}"
    >
      <img class="button-icons" src="{{ 'Buy-now-button.svg' | asset_url }}" loading="lazy" alt="logo">
      BUY NOW
    </button>
  {% endif %}
</div>
<div class="textBox">
  <div
    class="horizontal-line"
    style="
        width:30%;

        background-color: gray;
      height:1px;
    "
  ></div>
  <div
    style="                                 color: #ADA9A9;"
    class="text-between-lines"
  >
    Extra Link
  </div>
  <div
    class="horizontal-line"
    style="
                            background-color: gray;
        width:30%;
      height:1px;
    "
  ></div>
</div>
<div
  class="more-buttons-div"
>
  <button
    class="more-button  {% if sold_out %} more-button-disabled  {% endif %}"
    onclick="processAddtoCartPopup(this)"

    data-toggle="tooltip"
    data-product-id="{{ product.variants.first.id }}"
    data-product-available="{{ product.variants.first.available }}"
    data-product-page="{{ product.url }}"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="{{ 'products.product.add_to_cart' | t }}"
    {% if sold_out %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Cart-button.svg' | asset_url }}" loading="lazy" alt="logo">
    Add to Cart
  </button>
  <button
    class="more-button {% if pdf == '' %} more-button-disabled  {% endif %}"
    onclick="processPdflink(this)"
    data-pdflink="{{ pdf }}"
    id="getPdf"
    type="button"
    data-toggle="tooltip"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="Download Sample PDF"
    {% if pdf == '' %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Pdf-button.svg' | asset_url }}" loading="lazy" alt="logo">
    <span>View PDF</span>
  </button>
  <button
    class="more-button {% if blog == '' %} more-button-disabled  {% endif %}"
    data-bloglink="{{ blog }}"
    data-toggle="tooltip"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="Read Blog"
    onclick="processBlogLink(this)"
    {% if blog == '' %}
      disabled
    {% endif %}
  >
    <svg style="font-size: 2.5rem;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
      <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#004aad}</style><path d="M215.4 96H144 107.8 96v8.8V144v40.4 89L.2 202.5c1.6-18.1 10.9-34.9 25.7-45.8L48 140.3V96c0-26.5 21.5-48 48-48h76.6l49.9-36.9C232.2 3.9 243.9 0 256 0s23.8 3.9 33.5 11L339.4 48H416c26.5 0 48 21.5 48 48v44.3l22.1 16.4c14.8 10.9 24.1 27.7 25.7 45.8L416 273.4v-89V144 104.8 96H404.2 368 296.6 215.4zM0 448V242.1L217.6 403.3c11.1 8.2 24.6 12.7 38.4 12.7s27.3-4.4 38.4-12.7L512 242.1V448v0c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64v0zM176 160H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
    </svg>
    Notification
  </button>
</div>
