<style>
                                      .textBox{

                                      height: 1em;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 2em;

                                      }

                                      .buy-now-row{

                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-bottom: .8em;
                                      }



                       .buy-now-text {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #A82B0B !important;
    padding: .6em 1em !important;
    border-radius: 20px !important;
    color: white !important;
    border: none !important;
  }

                      .more-buttons-div{
                                        display: flex; align-items: center; justify-content: center; gap: 2px

                      }
          .more-button-disabled{

            opacity: .5;
                cursor: not-allowed;
          }
    .more-button {
      padding: .5em .5em !important;
      color: #004AAD !important;
      background-color: white !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

        .button-icons{
      height: 2em;
          width: 2em;
        margin-right: .3em;
        }
</style>
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% assign amazonLink = '' %}
{% if tag contains 'amztag\h' %}
  {% assign amazonLink = tag | replace: 'amztag\', '' %}
{% endif %}
{% assign blog = '' %}
{% assign pdf = '' %}
{% for tag in product.tags %}
  {% if tag contains 'blog\h' %}
    {% assign blog = tag | replace: 'blog\', '' %}
  {% endif %}
  {% if tag contains 'elssp\h' %}
    {% assign pdf = tag | replace: 'elssp\', '' %}
  {% endif %}
{% endfor %}

<div class="buy-now-row">
  {% if sold_out %}
    {% if amazonLink == '' %}
      <button
        data-product-id="{{ product.variants.first.id }}"
        data-product-available="{{ product.variants.first.available }}"
        data-product-page="{{ product.url }}"

        class="buy-now-text more-button-disabled "
      >
        <img class="button-icons" src="{{ 'Buy-now-button.svg' | asset_url }}" loading="lazy" alt="logo">
        Out of Stock
      </button>
    {% else %}
      <a href="{{ amazonLink }}">
        <button
          data-product-id="{{ product.variants.first.id }}"
          data-product-available="{{ product.variants.first.available }}"
          data-product-page="{{ product.url }}"

          class="buy-now-text"
        >
          <img class="button-icons" src="{{ 'Buy-now-button.svg' | asset_url }}" loading="lazy" alt="logo">
          Buy From Amazon
        </button></a
      >
    {% endif %}

  {% else %}
    <button
      onclick="processCollectionBuyNowPopup(this)"

      data-product-id="{{ product.variants.first.id }}"
      data-product-available="{{ product.variants.first.available }}"
      data-product-page="{{ product.url }}"

      class="buy-now-text {% if sold_out %} more-button-disabled  {% endif %}"
    >
      <img class="button-icons" src="{{ 'Buy-now-button.svg' | asset_url }}" loading="lazy" alt="logo">
      BUY NOW
    </button>
  {% endif %}

  <button
    id="button-cart-buy"
    class="buy-now-text"
    data-product-id="{{ product.variants.first.id }}"
    data-product-available="{{ product.variants.first.available }}"
    data-product-page="{{ product.url }}"
  >
    <img class="button-icons" src="{{ 'Buy-now-button.svg' | asset_url }}" loading="lazy" alt="logo">
    BUY NOW
  </button>
</div>
<div class="textBox">
  <div
    class="horizontal-line"
    style="
        width:30%;

        background-color: gray;
      height:1px;
    "
  ></div>
  <div
    style="                                 color: #ADA9A9;"
    class="text-between-lines"
  >
    Extra Link
  </div>
  <div
    class="horizontal-line"
    style="
                            background-color: gray;
        width:30%;
      height:1px;
    "
  ></div>
</div>
<div
  class="more-buttons-div"
>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <img class="button-icons" src="{{ 'Cart-button.svg' | asset_url }}" loading="lazy" alt="logo">
    <button
      class="more-button"
      style="
        padding-left: 0px! important;
        width: auto !important;
      "
      onclick="processAddtoCartPopup(this)"
      data="{{ sold_out }}"
      id="button-cart"
      data-toggle="tooltip"
      data-product-id="{{ product.variants.first.id }}"
      data-product-available="{{ product.variants.first.available }}"
      data-product-page="{{ product.url }}"
      data-loading-text="{{ 'products.product.loading' | t }}"
    >
      Add To Cart
    </button>
  </div>
  <button
    class="more-button {% if pdf == '' %} more-button-disabled  {% endif %}"
    onclick="processPdflink(this)"
    data-pdflink="{{ pdf }}"
    id="openPdfFile"
    type="button"
    data-toggle="tooltip"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="Download Sample PDF"
    {% if pdf == '' %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Pdf-button.svg' | asset_url }}" loading="lazy" alt="logo">
    View PDF
  </button>
  <button
    class="more-button {% if blog == '' %} more-button-disabled  {% endif %}"
    data-bloglink="{{ blog }}"
    data-toggle="tooltip"

    title="Read Blog"
    onclick="processBlogLink(this)"
    {% if blog == '' %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Bell-button.svg' | asset_url }}" loading="lazy" alt="logo">
    Notification
  </button>
</div>
<script>
  function openProductPdf() {
  var pdf = {{ pdf | json }}
         window.open(pdf, "_blank");


    }
</script>
