<style>
                                      .textBox{

                                      height: 1em;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 2em;

                                      }

                                      .buy-now-row{

                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-bottom: .8em;
                                      }



                       .buy-now-text {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #A82B0B !important;
    padding: .6em 1em !important;
    border-radius: 20px !important;
    color: white !important;
    border: none !important;
  }

                      .more-buttons-div{
                                       height: 4em; display: flex; align-items: center; justify-content: center; gap: 2px

                      }
          .more-button-disabled{

            opacity: .5;
                cursor: not-allowed;
          }
    .more-button {
      padding: .5em .5em !important;
      color: #004AAD !important;
      background-color: white !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

        .button-icons{
      height: 2em;
          width: 2em;
        margin-right: .3em;
        }
</style>

{% assign blog = '' %}
{% assign pdf = '' %}
{% for tag in product.tags %}
  {% if tag contains 'blog\h' %}
    {% assign blog = tag | replace: 'blog\', '' %}
  {% endif %}
  {% if tag contains 'elssp\h' %}
    {% assign pdf = tag | replace: 'elssp\', '' %}
  {% endif %}
{% endfor %}
{% assign t = '' %}
{% for tag in product.tags %}
  {% if tag contains 'elssp\h' %}
    {% assign t = tag | replace: 'elssp\', '' %}
  {% endif %}
{% endfor %}
<div class="buy-now-row">
  <!-- <button class="buy-now-icon">lo</button> -->
  {% if sold_out %}
    <div class="label-product label_sale l_sold">
      <span>Available on Amazon</span>
      <!-- <span>{{ 'products.product.sold_out' | t }}</span> -->
    </div>
  {% else %}
    {% if section.settings.show_buy_now or template == 'product.pre-order' %}
      <button
        class="btn button button-cart"
        {% if template != 'product.pre-order' %}
        {% endif %}
        style=" clear:none;margin-left:15px;padding:0 55px; display: none;"
        type="button"
        id="button-cart-buy"
        data-loading-text="{{ 'products.product.loading' | t }}"
      >
        {% if template == 'product.pre-order' -%}
          {{- 'products.product.pre_order' | t }}
        {% else -%}
          {{- 'products.product.buy_now' | t -}}
        {%- endif %}
      </button>
    {% endif %}
  {% endif %}
</div>
<div class="textBox">
  <div
    class="horizontal-line"
    style="
        width:30%;

        background-color: gray;
      height:1px;
    "
  ></div>
  <div
    style="                                 color: #ADA9A9;"
    class="text-between-lines"
  >
    Extra Link
  </div>
  <div
    class="horizontal-line"
    style="
                            background-color: gray;
        width:30%;
      height:1px;
    "
  ></div>
</div>
<div
  class="more-buttons-div"
>
  <button
    class="more-button  {% if sold_out %} more-button-disabled  {% endif %}"
    onclick="processAddtoCartPopup(this)"
    id="button-cart"
    data-toggle="tooltip"
    data-product-id="{{ product.variants.first.id }}"
    data-product-available="{{ product.variants.first.available }}"
    data-product-page="{{ product.url }}"
    data-loading-text="{{ products.product.loading | t }}"
    data="{{ sold_out }}"
    {% if sold_out %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Cart-button.svg' | asset_url }}" loading="lazy" alt="logo">
  </button>
  <button
    class="more-button {% if pdf == '' %} more-button-disabled  {% endif %}"
    onclick="processPdflink(this)"
    data-pdflink="{{ pdf }}"
    id="openPdfFile"
    type="button"
    data-toggle="tooltip"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="Download Sample PDF"
    {% if pdf == '' %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Pdf-button.svg' | asset_url }}" loading="lazy" alt="logo">
    View PDF
  </button>
  <button
    class="more-button {% if blog == '' %} more-button-disabled  {% endif %}"
    data-bloglink="{{ blog }}"
    data-toggle="tooltip"

    title="Read Blog"
    onclick="processBlogLink(this)"
    {% if blog == '' %}
      disabled
    {% endif %}
  >
    <img class="button-icons" src="{{ 'Bell-button.svg' | asset_url }}" loading="lazy" alt="logo">
    Notification
  </button>
</div>
<script>
  function openProductPdf() {
  var pdf = {{ pdf | json }}
         window.open(pdf, "_blank");


    }
</script>
