<style>
                                .textBox{

                                height: 1em;
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                  gap: 2em;

                                }

                                .buy-now-row{
                /*                   height: 5em; */
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                  margin-bottom: .8em;
                                }

                                .buy-now-row button{

                                  background-color: #A82B0B;
                                }
                                        .buy-now-icon{
                                         width: 50px;
                                          height: 50px;
                                          background-color: #A82B0B;
                                          border-radius: 50%;
                                          z-index: 1;
                                          position: relative;
                                          left: 1.1em;
                                          padding: 0;


                                        }
                                .buy-now-text{

                                    display: flex;
                    justify-content: center;
                                  align-items: center;
  /*                                       position: relative; */
                                  background-color: #A82B0B;
  /*                                 padding: 0.7em 1em 0.7em 2em; */
                                  padding: .6em 1em;
  /*                                    right: 1em */
                                }

                .more-buttons-div{
                                 height: 4em; display: flex; align-items: center; justify-content: center; gap: 2px

                }
    .more-button-disabled{

      opacity: .5;
          cursor: not-allowed;
    }

                .more-button{
    padding: .5em .5em; color: #004AAD; background-color: white;     display: flex;
                    justify-content: center; align-items: center;

                }

  .button-icons{

    fill: #ffffff;
  }
</style>

<div class="buy-now-row">
  <!-- <button class="buy-now-icon">lo</button> -->
  <button
    onclick="processAddtoCartPopup(this)"

    data-product-id="{{ product.variants.first.id }}"
    data-product-available="{{ product.variants.first.available }}"
    data-product-page="{{ product.url }}"

    id="button-cart-buy"
    class="buy-now-text {% if sold_out == false %} more-button-disabled  {% endif %}"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 464 549" fill="#ffffff">
      <path d="M463.24 524.66C457.81 417.91 450.88 311.2 447.52 204.39C446.56 174 431.58 152.55 417.81 129.02C415.17 124.51 411.15 121.17 405.65 121.69C390.56 123.11 393.22 113.77 396.5 105.73C403.45 88.7 395.31 82.59 380.02 79.67C363.26 76.47 346.77 71.92 330.01 68.72C316.73 66.19 308.82 60.33 302.69 46.85C280.43 -2.12 217.85 -14.59 179.38 22.17C168.73 32.35 157.88 37.04 144.25 38.48C131.5 39.82 118.8 41.63 106.06 43.09C54.2 49.02 54.26 48.99 59.99 101.02C61.02 110.33 60.57 116.57 51.42 125.33C35.65 140.41 19.84 159.94 18.45 183.07C11.61 296.88 6.4 410.79 0.759998 524.66C0.349998 532.97 -1.97001 541.89 5.09999 548.98H458.9C465.96 541.89 463.66 532.97 463.24 524.66ZM394.45 141.08C411.89 138.82 409.33 157.91 422.31 167.37H381.28C387.31 158.03 380.43 142.9 394.45 141.08ZM366.15 95.59C375.8 97.64 379.73 101.55 376.34 111.62C373.63 119.67 371.78 128.03 369.89 136.33C362.66 168.09 362.68 167.14 329.91 168.45C313.4 169.11 305.29 164.86 303.86 147.5C302.88 135.62 298.15 124.1 295.85 112.27C292.8 96.62 288.38 83.64 266.93 94.26C267.66 79.41 268.92 71.92 285.34 76.78C311.82 84.61 339.1 89.83 366.15 95.59ZM245.81 168.05H220.23C201.76 168.05 183.19 166.9 164.84 168.42C150.74 169.58 148.47 161.79 146.46 151.37C143.96 138.38 154.68 140.14 161.1 138.52C194.76 130.03 228.68 122.54 262.29 113.86C273.07 111.07 276.81 113.33 279.63 124.51C290.67 168.18 291.17 168.05 245.81 168.05ZM286.53 56.31C256.23 53.48 256.3 53.49 249.04 83.59C247.62 89.49 248.35 99.12 241.02 99.1C230.83 99.06 235.44 88.18 233.75 82.3C231.62 74.92 231.71 66.84 231.29 59.04C230.22 39.28 227 22.12 198.61 32.12C233.17 9.77 266.42 19.25 286.53 56.31ZM85.11 63.93C124.07 59.63 162.98 54.84 201.82 49.67C210.38 48.53 211.34 53.02 212.06 59.13C213.55 71.87 214.84 84.64 216.73 97.32C218.17 106.95 211.72 107.13 205.21 108.61C185.79 113.02 166.66 119.08 147.06 122.31C126.82 125.64 119.46 134.19 128.23 153.96C129.88 157.66 129.38 162.31 129.88 166.53C85.94 171.32 86.08 171.31 81.87 128.55C80.2 111.54 78.31 94.5 75.38 77.68C73.8 68.65 75.43 65 85.11 63.93ZM61.48 139.17C69.8 169.47 69.8 169.47 45.19 166.09C50.42 157.46 55.34 149.33 61.48 139.17ZM428.85 531.07C363.24 530.46 297.63 530.79 232.02 530.79C167.12 530.79 102.22 530.36 37.33 531.11C22.47 531.29 18.26 527.83 19.18 512.23C25.19 410.48 30.38 308.67 34.91 206.84C35.57 192.16 39.46 187.83 54.38 187.9C172.76 188.51 291.14 188.5 409.52 187.91C424.31 187.83 428.43 191.97 429.08 206.76C433.65 309.3 438.98 411.82 444.87 514.3C445.65 527.96 442.02 531.19 428.85 531.07Z" fill="white"/>
    </svg>

    BUY NOW
  </button>
</div>
<div class="textBox">
  <div
    class="horizontal-line"
    style="
        width:30%;

        background-color: gray;
      height:1px;
    "
  ></div>
  <div
    style="                                 color: #ADA9A9;"
    class="text-between-lines"
  >
    Extra Link
  </div>
  <div
    class="horizontal-line"
    style="
                            background-color: gray;
        width:30%;
      height:1px;
    "
  ></div>
</div>
<div
  class="more-buttons-div"
>
  <button
    class="more-button  {% if sold_out %} more-button-disabled  {% endif %}"
    onclick="processAddtoCartPopup(this)"

    data-toggle="tooltip"
    data-product-id="{{ product.variants.first.id }}"
    data-product-available="{{ product.variants.first.available }}"
    data-product-page="{{ product.url }}"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="{{ 'products.product.add_to_cart' | t }}"
    {% if sold_out %}
      disabled
    {% endif %}
  >
    <svg
      style="font-size: 2.5rem;"
      xmlns="http://www.w3.org/2000/svg"
      height="1em"
      viewBox="0 0 576 512"
    >
      <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#004aad}</style><path d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48H69.5c3.8 0 7.1 2.7 7.9 6.5l51.6 271c6.5 34 36.2 58.5 70.7 58.5H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H199.7c-11.5 0-21.4-8.2-23.6-19.5L170.7 288H459.2c32.6 0 61.1-21.8 69.5-53.3l41-152.3C576.6 57 557.4 32 531.1 32H360V134.1l23-23c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-64 64c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l23 23V32H120.1C111 12.8 91.6 0 69.5 0H24zM176 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm336-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/>
    </svg>
    Add to Cart
  </button>
  <button
    class="more-button {% if pdf != '' %} more-button-disabled  {% endif %}"
    onclick="processPdflink(this)"
    data-pdflink="{{ pdf }}"
    id="getPdf"
    data-toggle="tooltip"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="Download Sample PDF"
    {% if pdf != '' %}
      disabled
    {% endif %}
  >
    <svg style="font-size: 2.5rem;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
      <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#004aad}</style><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V304H176c-35.3 0-64 28.7-64 64V512H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM176 352h32c30.9 0 56 25.1 56 56s-25.1 56-56 56H192v32c0 8.8-7.2 16-16 16s-16-7.2-16-16V448 368c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24H192v48h16zm96-80h32c26.5 0 48 21.5 48 48v64c0 26.5-21.5 48-48 48H304c-8.8 0-16-7.2-16-16V368c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H320v96h16zm80-112c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v32h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H448v48c0 8.8-7.2 16-16 16s-16-7.2-16-16V432 368z"/>
    </svg>
    <span>View PDF</span>
  </button>
  <button
    class="more-button {% if blog != '' %} more-button-disabled  {% endif %}"
    data-bloglink="{{ blog }}"
    data-toggle="tooltip"
    data-loading-text="{{ 'products.product.loading' | t }}"
    title="Read Blog"
    onclick="processBlogLink(this)"
    {% if blog != '' %}
      disabled
    {% endif %}
  >
    <svg style="font-size: 2.5rem;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
      <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#004aad}</style><path d="M215.4 96H144 107.8 96v8.8V144v40.4 89L.2 202.5c1.6-18.1 10.9-34.9 25.7-45.8L48 140.3V96c0-26.5 21.5-48 48-48h76.6l49.9-36.9C232.2 3.9 243.9 0 256 0s23.8 3.9 33.5 11L339.4 48H416c26.5 0 48 21.5 48 48v44.3l22.1 16.4c14.8 10.9 24.1 27.7 25.7 45.8L416 273.4v-89V144 104.8 96H404.2 368 296.6 215.4zM0 448V242.1L217.6 403.3c11.1 8.2 24.6 12.7 38.4 12.7s27.3-4.4 38.4-12.7L512 242.1V448v0c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64v0zM176 160H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
    </svg>
    Notification
  </button>
</div>
