<div class="banner-static static-bottom-smartbooks1">
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks limit:1 %}
  <div class="image" {% if block.settings.image == blank %}style="width:100%"{%endif%}>
    {% if block.settings.link != blank %}          
    <a href="{{ block.settings.link }}" {{ block.shopify_attributes }} {% if block.settings.image == blank %}style="width:100%"{%endif%}>
      {% endif %}
      {% if block.settings.image != blank %}
      <img src="{{ block.settings.image | img_url: 'master' }}" class="" alt=""/>
      {% else %}
      {% capture current %}{% cycle 1 %}{% endcapture %}
      {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      {% if block.settings.link != blank %}          
    </a>
    {% endif %}
    <div class="container">
      <div class="inner">
        <div class="text t{{block.id}}" style="text-align:{{ block.settings.ad_align }}">
          <style type="text/css">
            .static-bottom-smartbooks1 .text.t{{block.id}} {
              {% case block.settings.ad_text_position %}
              {% when 'center' %}
              left: 30%;
              right: auto;
              {% when 'right' %}
              left: auto;
              right: 0;
              {% else %}
              {% endcase %}
            }
          </style>
          {% if block.settings.heading != blank %} 
          <h3 style="color:{{ block.settings.heading_color }};font-size:{{ block.settings.heading_size }};">{{ block.settings.heading }}</h3>
          {% endif %}
          {% if block.settings.description != blank %} 
          <p style="color:{{ block.settings.description_color }}">{{ block.settings.description }}</p>
          {% endif %}
          {% if block.settings.link != blank %} 
          <a class="" href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
            {{ block.settings.link_text }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>