<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<script
  defer
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>

{% assign product_collection = section.settings.collection %}
<style>
        /* .owl-item{
          width:20% !important;
        } */

        /* .owl-stage{
          transform: none !important;
           transition: none !improtant;
        } */

        /* .tab-container-{{section.id}} .owl-item {
        transition: none !important;
        animation: none !important;
        opacity: 1 !important;
      } */
      /* .tab-container-{{section.id}} .owl-item {
        transition: none !important;
      } */

      .module-title h2 {
        padding-bottom: 0px !important;
    }
    .list-module .module-title {
      margin-bottom: 1rem !important;
      text-align: left !important;
  }
</style>

<div
  class="tt_tabsproduct_module tabs-category-slider list-module {% if section.settings.listing_rows != 1 %} multi-rows {% endif %}"
  id="product_module{{section.id}}"
  style="text-align: left; margin-bottom: 1rem "
>
  <div class="module-title" style="    justify-content: space-between;
    padding-bottom: 0px;
    display: flex;
    align-items: center;">
    {% if section.settings.heading != blank %}
      <h2 >{{ section.settings.heading }}</h2>
      <span> <svg style="height: 1rem; width: 1rem; fill: gray;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-angle-right fa-4x"><path  d="M273 239c9.4 9.4 9.4 24.6 0 33.9L113 433c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l143-143L79 113c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L273 239z" class=""></path></svg> </span>
    {% endif %}
    <div class="box-tab">
      <ul class="tab-heading tabs-categorys">
        <li>
          <a data-toggle="pill" href="#tab-{{section.id}}0">
            <span>{{ section.settings.heading }}</span>
          </a>
        </li>
      </ul>
    </div>
   
  </div>
  <div class="box-style">
    <div class="owl-container">
      <div class="tt-product ">
        <div class="tab-content">
          <div
            class="tab-container-{{section.id}}  owl-carousel owl-theme owl-carousel-1 tab-pane tab-product-container  "
            id="tab-{{section.id}}0"
          >
            {% if section.settings.listing_rows == 1 %}
              {% for product in collections[product_collection].products limit: section.settings.products_tab_count %}
                <div class="row_items {% cycle 'odd','even' %}">
                  {% include 'product-grid-item-list' %}
                </div>
              {% endfor %}
            {% else %}
              <div class="row_items {% cycle 'odd','even' %}">
                {% for product in collections[product_collection].products limit: section.settings.products_tab_count %}
                  {% include 'product-grid-item-list' %}
                  {% if forloop.last == false %}
                    {% cycle '', '</div><div class="row_items">' %}
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!--
  <script >





    $(document).ready(function() {
      $('a[href="#tab-{{section.id}}0"]').trigger( "click" );
        $(".tab-container-{{section.id}}").owlCarousel({
        items: {{ section.settings.no_of_products }},
        loop:  false ,
        margin:  10 ,
        nav:  false ,
        dots:  false ,
        autoplay:   false ,
        autoplayTimeout:  1000 ,
        autoplayHoverPause: true,
        autoplaySpeed:  1000 ,
        navSpeed:  1000 ,
        dotsSpeed:  1000 ,
           smartSpeed: 0,
        lazyLoad: false,
        responsive:{
        0:{
        items: 3,
        nav: false
        },
        500:{
        items: 3,
        nav: false
        },
        768:{
        items: 4
        },
        992:{
        items: 5
        },
        1200:{
        items: {{ section.settings.no_of_products }}
        },
        1600:{
        items: {{ section.settings.no_of_products }}
        }
        },
        onInitialized: function() {
        var count = $(".tab-container-{{section.id}} .owl-item.active").length;
                      if(count == 1) {
          $(".tab-container-{{section.id}} .owl-item").removeClass('first');
            $(".tab-container-{{section.id}} .owl-item.active").addClass('first');
            } else {
            $(".tab-container-{{section.id}} .owl-item").removeClass('first');
            $(".tab-container-{{section.id}} .owl-item.active:first").addClass('first');
            }
            },
            onTranslated: function() {
            var count = $(".tab-container-{{section.id}} .owl-item.active").length;
                          if(count == 1) {
              $(".tab-container-{{section.id}} .owl-item").removeClass('first');
                $(".tab-container-{{section.id}} .owl-item.active").addClass('first');
                } else {
                $(".tab-container-{{section.id}} .owl-item").removeClass('first');
                $(".tab-container-{{section.id}} .owl-item.active:first").addClass('first');
                }
                }
                });
            });



  </script>
-->
<script>
     $(document).ready(function() {
        $('a[href="#tab-{{section.id}}0"]').trigger( "click" );
          $(".tab-container-{{section.id}}").slick({
        infinite: false,
        slidesToShow: {{ section.settings.no_of_products }},
        slidesToScroll: 2,
        swipeToSlide: true,
   arrows: false,
    infinite: false,
    swipeToSlide: true,
    draggable: true,
    easing: 'linear',
    touchThreshold: 50,
    speed: 600,
    useTransform: true,
    cssEase: 'ease-out',
    waitForAnimate: false,
  mobileFirst: true,
             touchMove: true,
   swipe: true,
   fade: false,
        arrows: false,
      // prevArrow: '<button type="button" class="slick-prev">Previous</button>',
      // nextArrow: '<button type="button" class="slick-next">Next</button>',
        responsive: [
          { breakpoint: 1600, settings: { slidesToShow: {{ section.settings.no_of_products }} } },
          { breakpoint: 1200, settings: { slidesToShow: {{ section.settings.no_of_products }} } },
          { breakpoint: 992, settings: { slidesToShow: 5 } },
          { breakpoint: 768, settings: { slidesToShow: 4, nav: false } },
          { breakpoint: 480, settings: { slidesToShow: 3, nav: false } },
          { breakpoint: 0, settings: { slidesToShow: 3, nav: false } }
        ]
      });

      // Optional: Custom logic for dots or other functionality can be added here
    });
</script>

<!--
  <script>
    $(document).ready(function() {
    $('a[href="#tab-{{section.id}}0"]').trigger( "click" );
      const carousel = $(".owl-carousel-1 ").owlCarousel({
        items: {{ section.settings.no_of_products }},
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: { items: {{ section.settings.no_of_products }} },
          600: { items: {{ section.settings.no_of_products }} },
          1000: { items: {{ section.settings.no_of_products }} }
        }
      });

      let isDragging = false;
      let startX = 0;
      let currentTranslate = 0;
      let prevTranslate = 0;

  // const containerWidth = carousel.width();
      // console.log(carousel.width())
      // console.log(carousel.length)
      // const carouselContainer = carousel.find('.owl-stage');

      function handleDragStart(e) {
        isDragging = true;
        startX = e.clientX || e.touches[0].clientX;
        prevTranslate = currentTranslate;
        carousel.css('transition', 'none'); // Disable transitions while dragging
      }

      function handleDragMove(e) {
        if (!isDragging) return;
        const moveX = (e.clientX || e.touches[0].clientX) - startX;
         const carouselWidth = carousel.width();
        const itemsWidth = carousel.find('.owl-item').width() * carousel.find('.owl-item').length;
        const minTranslate = carouselWidth - itemsWidth;
        const maxTranslate = 0;

        currentTranslate = prevTranslate + moveX;
        currentTranslate = Math.max(Math.min(currentTranslate, maxTranslate), minTranslate);
        carousel.css('transform', `translateX(${currentTranslate}px)`);
      }

      function handleDragEnd() {
        if (isDragging) {
          isDragging = false;
          prevTranslate = currentTranslate;
          carousel.css('transition', ''); // Re-enable transitions
        }
      }

      // Touch events for mobile devices
      carousel[0].addEventListener('touchstart', handleDragStart, false);
      carousel[0].addEventListener('touchmove', handleDragMove, false);
      carousel[0].addEventListener('touchend', handleDragEnd, false);

      // Mouse events for desktops
      carousel[0].addEventListener('mousedown', handleDragStart, false);
      document.addEventListener('mousemove', handleDragMove, false);
      document.addEventListener('mouseup', handleDragEnd, false);
    });
  </script>
-->
