<div class="banner-static static-top-smartbooks3">
  <div class="container-inner">
    {% if section.blocks.size > 0 %}
    <div class="col col-top-1">
      {% for block in section.blocks limit:5 %}
      {% cycle '','</div><div class="col col-top-2">','','','' %}
      <div class="image image{{forloop.index0}}">
        <a href="{{ block.settings.link }}">
          {% if block.settings.image != blank %}
          <img src="{{ block.settings.image | img_url: 'master' }}" class="" alt=""/>
          {% endif %}          
          {% comment %}<span class="text" style="text-align:{{ block.settings.ad_align }}">
          {% if block.settings.heading != blank %} 
          <span class="text1" style="color:{{ block.settings.heading_color }}">{{ block.settings.heading }}</span>
          {% endif %}
          {% if block.settings.description != blank %} 
          <span class="text2" style="color:{{ block.settings.description_color }}">{{ block.settings.description }}</span>
          {% endif %}
          </span> {% endcomment %}
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>