{% assign product_collection = section.settings.collection %}
<style>
  /* .owl-item{
    width:20% !important;
  } */

  .owl-stage{
    /* transform: none !important; */
    /* transition: none !improtant; */
   
  }
.tab-container-{{section.id}} .owl-item {
  transition: none !important;
}

  /* .tab-container-{{section.id}} .owl-item {
  transition: none !important;
  animation: none !important;
  opacity: 1 !important;
} */



</style>



<div class="tt_tabsproduct_module tabs-category-slider list-module {% if section.settings.listing_rows != 1 %} multi-rows {% endif %}" id="product_module{{section.id}}">
  <div class="module-title">
    {% if section.settings.heading != blank %}  
    <h2>{{ section.settings.heading }}</h2>
    {% endif %}
    <div class="box-tab">
      <ul class="tab-heading tabs-categorys">
        <li>
          <a data-toggle="pill" href="#tab-{{section.id}}0">
            <span>{{ section.settings.heading }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="box-style">
    <div class="owl-container">
      <div class="tt-product ">
        <div class="tab-content">
          <div class="tab-container-{{section.id}}  owl-carousel owl-theme owl-carousel-1 tab-pane tab-product-container  " id="tab-{{section.id}}0">
            {% if section.settings.listing_rows == 1 %}
            {% for product in collections[product_collection].products limit:section.settings.products_tab_count %}
            <div class="row_items {% cycle 'odd','even' %}">
              {% include 'product-grid-item-list' %}
            </div>
            {% endfor %}
            {% else %}
            <div class="row_items {% cycle 'odd','even' %}">
              {% for product in collections[product_collection].products limit:section.settings.products_tab_count %}
              {% include 'product-grid-item-list' %}
              {% if forloop.last == false %}
              {% cycle '','</div><div class="row_items">' %}
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<script >


  $(document).ready(function() {
    // Replace '.tab-container-{{section.id}}' with the correct carousel selector
    var carousel = $('.tab-container-{{section.id}}');

    carousel.on('dragged.owl.carousel', function(event) {
      event.preventDefault();
      var currentItem = event.relatedTarget.current();
      carousel.trigger('to.owl.carousel', [currentItem, 0, true]);
    });
  });



  
  $(document).ready(function() {
    $('a[href="#tab-{{section.id}}0"]').trigger( "click" );
      $(".tab-container-{{section.id}}").owlCarousel({
      items: {{ section.settings.no_of_products }},
      loop:  false ,
      margin:  10 ,
      nav:  false ,
      dots:  false ,
      autoplay:   false ,
      autoplayTimeout:  1000 ,
      autoplayHoverPause: true,
      autoplaySpeed:  1000 ,
      navSpeed:  1000 ,
      dotsSpeed:  1000 ,
      lazyLoad: false,
      responsive:{
      0:{
      items: 3,
      nav: false
      },
      500:{
      items: 3,
      nav: false
      },
      768:{
      items: 4
      },
      992:{
      items: 5
      },
      1200:{
      items: {{ section.settings.no_of_products }}
      },
      1600:{
      items: {{ section.settings.no_of_products }}
      }
      },
      onInitialized: function() {
      var count = $(".tab-container-{{section.id}} .owl-item.active").length;
                    if(count == 1) {
        $(".tab-container-{{section.id}} .owl-item").removeClass('first');
          $(".tab-container-{{section.id}} .owl-item.active").addClass('first');
          } else {
          $(".tab-container-{{section.id}} .owl-item").removeClass('first');
          $(".tab-container-{{section.id}} .owl-item.active:first").addClass('first');
          }
          },
          onTranslated: function() {
          var count = $(".tab-container-{{section.id}} .owl-item.active").length;
                        if(count == 1) {
            $(".tab-container-{{section.id}} .owl-item").removeClass('first');
              $(".tab-container-{{section.id}} .owl-item.active").addClass('first');
              } else {
              $(".tab-container-{{section.id}} .owl-item").removeClass('first');
              $(".tab-container-{{section.id}} .owl-item.active:first").addClass('first');
              }
              }
              });
          });


  
</script>

