<!-- Add the Swiper CSS styles -->

<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">

{% assign product_collection = section.settings.collection %}
<style>
   /* .swiper-slide {
    display: flex;
  }


  .swiper-container {
    overflow: hidden;
  }
   */
</style>

<div
  class="tt_tabsproduct_module tabs-category-slider list-module {% if section.settings.listing_rows != 1 %} multi-rows {% endif %}"
  id="product_module{{section.id}}"
  style="text-align: left;   "
>
  <div
    class="module-title"
    style="
      justify-content: space-between;
      padding-bottom: 0px;
      display: flex;
      align-items: center;
    "
  >
    {% if section.settings.heading != blank %}
      <h2 style="margin: 0px;">{{ section.settings.heading }}</h2>
      <span section-name="{{ section.settings.heading }}" onclick="collectionUrls(this)">
        <svg
          style="height: 3rem; width: 2rem;  fill: gray;     display: grid;"
          aria-hidden="true"
          focusable="false"
          data-prefix="far"
          data-icon="angle-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
          class="svg-inline--fa fa-angle-right fa-4x"
        >
          <path  d="M273 239c9.4 9.4 9.4 24.6 0 33.9L113 433c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l143-143L79 113c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L273 239z" class=""></path>
        </svg>
      </span>
    {% endif %}
    <div class="box-tab">
      <ul class="tab-heading tabs-categorys">
        <li>
          <a data-toggle="pill" href="#tab-{{section.id}}0">
            <span>{{ section.settings.heading }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="box-style">
    <div class="tt-product">
      <div class="tab-content">
        <div
          class="tab-container-{{section.id}} swiper-container tab-product-container"
          id="tab-{{section.id}}0"
        >
          <div class="swiper-wrapper">
            {% for product in collections[product_collection].products limit: section.settings.products_tab_count %}
              <div class="swiper-slide">
                <div class="row_items {% cycle 'odd','even' %}">
                  {% include 'product-grid-item-list' %}
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- Add Swiper pagination -->
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- Add the Swiper JS script -->

<script async src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
      	function initSwiper() {
        var sectionId = "{{section.id}}";
        var noOfProducts = {{ section.settings.no_of_products }};
        var swiper = new Swiper(".swiper-container", {
          slidesPerView: noOfProducts,
          loop: false,
           swipeToSlide: true,
            freeMode: true,
          effect: "slide",
          speed: 600,
    spaceBetween: 10,
          breakpoints: {
            1600: { slidesPerView: noOfProducts },
            1200: { slidesPerView: noOfProducts },
            992: { slidesPerView: 6 },
            768: { slidesPerView: 5, navigation: false },
            480: { slidesPerView: 4, navigation: false },
            100: { slidesPerView: 3, navigation: false },
          },

        });
      }

      // Initialize Swiper on page load
      initSwiper();

      // Reinitialize Swiper when the window is resized
    function updateSwiper() {
    swiper.update();
  }

  window.addEventListener("resize", updateSwiper);
</script>
<script>
   function collectionUrls(ref){
        console.log(ref);
       sectionTitle= ref.getAttribute('section-name');

     switch (sectionTitle){

        case 'all books':  {
            location.href='https://examcart.in/collections/all-exam-books'
             break;

         }
       case 'central exams':{
         location.href='https://examcart.in/collections/central-exams'


         break;
       }
          case 'bihar':{
         location.href='https://examcart.in/collections/bihar'
            break;
       }
          case 'haryana':{
         location.href='https://examcart.in/collections/haryana'
            break;
       }

          case 'jharkhand':{
       location.href='https://examcart.in/collections/jharkhand'
            break;
     }
          case 'chattisgarh':{
       location.href='https://examcart.in/collections/chattisgarh'
            break;
     }
          case 'uttar pradesh':{
       location.href='https://examcart.in/collections/uttar-pradesh'
            break;
     }
  case 'rajasthan':{
       location.href='https://examcart.in/collections/rajasthan'
    break;
     }

  case 'madhya pradesh':{
       location.href='https://examcart.in/collections/madhya-pradesh'
    break;
     }
          case 'delhi':{
       location.href='https://examcart.in/collections/delhi'
            break;
     }

     }
   }
</script>
