<style type="text/css">
  body {
    margin:0;
    padding:0;
    overflow-x:hidden;
  }

 .gg-profile,
  .gg-profile::after,
  .gg-profile::before {
      display: block;
      box-sizing: border-box;
      border: 2px solid;
      border-radius: 100px
  }
  .gg-profile {
      overflow: hidden;
      transform: scale(var(--ggs,1.3));
      width: 22px;
      height: 22px;
      position: relative
  }
  .gg-profile::after,
  .gg-profile::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 5px;
      width: 8px;
      height: 8px
  }
  .gg-profile::after {
      border-radius: 200px;
      top: 11px;
      left: 0px;
      width: 18px;
      height: 18px
  } 

    .hd2 #cart > button:before, .hd3 #cart > button:before {
      margin-right: 6px;
      font-size:35px
    }

  @media screen and (min-width:980px)
  {
      #cart-total{
          line-height :1.5 !important;
        }
    header .hd3{

    }
    .col-ver{
    position:relative;
  }
      .top-menu{
        margin-top:-25px
      }
   	.test{
        z-index:10 !important;
  		position:relative;
        	top:-20%;
        width:1000px;
        margin-top:3%
  /*       margin-top:50px !important; */
      }
    .col-search{
      margin-top:1px !important

    }

  }
    @media screen and (max-width:500px)
      {

        #logo{
        margin-left:-5px !important;
        }
        .col-search{
          margin-top:3px

        }
        .top-menu{
        visibility:hidden;

        }
        .hd3
        {
          height:110px !important;
          margin-bottom:18% !important;
          padding-bottom:0 !important;
        }
        .header-inner{
          position:fixed;
          top:0;
          width:100%;
        }
        .test{
          padding-top: 5em
        }
          #shopify-section-header{
            margin-bottom:10%
        }
        #ollblogstext{
          display: none !important;
        }
        .gg-profile{
          margin-top: 15px !important;
        }

      }
</style>
{% comment %}
  {% include 'order-history' %}
{% endcomment %}
{% include 'custom-functions-popup' %}
{% include 'cart-view-slider' %}
{% include 'custom-newsletter-slider' %}
{% include 'headerDropdownMenu' %}
{% include 'order-history' %}
{% include 'custom-bg-overlay' %}

<header class="hd3">
  <div class="header-inner" style="background-color:#282828;z-index:25;padding-bottom: 6px;">
    <div class="container" style="padding-left:5px">
      <div class="container-inner">
        <div class="inner-p">
          <div class="inner-inner">
            <div class="col-menu-mobile">
              {% assign color_skin = settings.color_skin %}
              {% assign hd_menu_color = settings.hd_menu_color %}
              <style>
                #oc-menu-m{{section.id}} .oc-menu-bar {
                  background: #282828;
                  color: #333333;
                  padding: 14px 15px 14px 15px;
                  position: relative;
                }
                #oc-menu-m{{section.id}}.oc-menu-bar {
                  background: #FFFFFF;
                  color: #333333;
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item {
                  background: #FFFFFF;
                  color: #282828;
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item .a-top-link {
                  padding: 5px 20px 5px 20px;
                  color: #282828;
                  font-size: 14px;
                  line-height: 25px;
                  text-transform: uppercase;
                  font-weight: 700;
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item:hover, #oc-menu-m{{section.id}} .ul-top-items .li-top-item.active {
                  background: #FFFFFF;
                  color: {{ color_skin }};
                }
                #oc-menu-m{{section.id}} .ul-top-items .li-top-item:hover .a-top-link, #oc-menu-m{{section.id}} .ul-top-items .li-top-item.active .a-top-link{
                  color: {{ color_skin }};
                  font-weight: 700;
                }
                #oc-menu-m{{section.id}} .mega-menu-container {
                  width: 100%;
                  background: #FFFFFF;
                  padding: 30px 30px 30px 30px;
                }
                #oc-menu-m{{section.id}} .mega-menu-container .a-mega-second-link,#oc-menu-m{{section.id}} .mega-menu-container .widget-html-title {
                  color: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .mega-menu-container .a-mega-third-link {
                  color: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items {
                  background: #FFFFFF;
                  color: #282828;
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items:hover, #oc-menu-m{{section.id}} .ul-second-items .li-second-items.active {
                  background: #FFFFFF;
                  color: {{ color_skin }};
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items .a-second-link {
                  color: #282828;
                  font-size: 14px;
                  text-transform: capitalize;
                  font-weight: 600;
                }
                #oc-menu-m{{section.id}} .ul-second-items .li-second-items:hover .a-second-link, #oc-menu-m{{section.id}} .ul-second-items .li-second-items.active .a-second-link {
                  color: {{ color_skin }};
                  font-weight: 600;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items {
                  background: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items:hover, #oc-menu-m{{section.id}} .ul-third-items .li-third-items.active {
                  background: #FFFFFF;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items .a-third-link {
                  color: #757575;
                  font-size: 14px;
                  text-transform: capitalize;
                  font-weight: 400;
                }
                #oc-menu-m{{section.id}} .ul-third-items .li-third-items:hover .a-third-link, #oc-menu-m{{section.id}} .ul-third-items .li-third-items.active .a-third-link {
                  color: {{ color_skin }};
                  font-weight: 400;
                }
              </style>
              {% include 'header-mob-nav' %}
            </div>
            {% include 'logo' %}
            <div class="box box-right" style="margin-right: -15px;float:right">
              <div class="">
                <div class="btn-group" style="">
                  <!-- <span class="pull-left hidden-xs hidden-sm hidden-md text-ex">Currency:</span> -->

                  <button
                    onclick="myMenu()"
                    class="btn btn-link dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    style="color:#e4e4e4;"
                  >
                    <!--
                      <span class="icons-right fas fa-user fa-2xl" style="font-size: 28px;color: white;margin-top: 3px;"></span>
                    -->
                    <span class="gg-profile" style="margin-top: 5px; margin-right: 6px;  "></span>
                     <!-- <img src="{{ 'Profile Icon.svg' | asset_url }}" alt="Profile Image" width="40px"> -->
                  </button>
                  <!--
                    <ul name="currencies" class="dropdown-menu" style="margin-left:-62px">
                      <li>
                        <button class="currency-select btn btn-link btn-block item-selected" type="button" name="INR" value="INR">INR</button>
                      </li>
                    </ul>
                  -->
                  <ul class="dropdown-menu" style="margin-left:-120px;text-align: left;padding-left: 15px;">
                    {% if settings.hide_wishlist == false %}
                      <!--
                        <div><li><a href="/pages/wishlist" id="wishlist-total"><span class="" style="margin-left: -7px;"> &nbsp;  {{ 'homepage.navigation.wish_list' | t }}</span></a></li></div>
                      -->
                    {% endif %}
                    {% if shop.customer_accounts_disable %}
                      {% if customer %}
                        <li>
                          <a href="/account"
                            ><span>{{ 'homepage.navigation.my_account' | t }}</span></a
                          >
                        </li>
                        <li>
                          <a href="/account/logout" id="customer_logout_link"
                            ><span>{{ 'layout.customer.log_out' | t }}</span></a
                          >
                        </li>
                      {% else %}
                        <a href="/account/login" id="customer_login_link"
                          ><span>{{ 'layout.customer.sign_in' | t }}</span></a
                        >
                        <a href="#" id="customer_login_link" onclick="openNav()"> <span onclick="openNav()"></span></a>
                        {% if shop.customer_accounts_optional %}
                          <li>
                            <a href="/account/register" id="customer_register_link"
                              ><span>{{ 'layout.customer.create_account' | t }}</span></a
                            >
                          </li>
                        {% endif %}
                      {% endif %}
                    {% endif %}

                    <!--
                      <li>
                        <a href="/cart"
                          ><span>{{ 'homepage.navigation.shopping_cart' | t }}</span></a
                        >
                      </li>
                    -->
                  </ul>
                </div>
              </div>
            </div>

            <div id="linktext" class="col-sm-offset-7" style="float:left;display:flex;margin-top:1.5%">
              <!--
                <div  style="margin-right:10%;">
                <a href="https://examcart.in/" ><h4 style="color: green;"><u>Books</u></h4></a></div>
              -->
              <div id="ollblogstext">
                <a href="https://examcart.in/blogs/all-blogs">
                  <h4 style="color: #61AC00;font-family: inherit;font-weight: 600;font-size:large;">Blogs</h4>
                </a>
              </div>
            </div>
            <div class="box-cart" style="right: 35px;">
              {% include 'header-cart' %}
            </div>
          </div>
          <!-- {% include 'header-search' %} -->
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="test container-inner">
    {% include 'header-search' %}
  </div>
  <div class="top-menu">
    <div class="container" style="margin:0px">
      <div class="container-inner">
        <div class="col-ver">
          <style>
            #oc-menu-v{{section.id}} .oc-menu-bar {
              background: #FFFFFF;
              color: #282828;
              padding: 12px 20px 12px 20px;
              position: relative;
            }
            #oc-menu-v{{section.id}}.oc-menu-bar {
              background: #FFFFFF;
              color: #282828;
            }
            #oc-menu-v{{section.id}} .ul-top-items .li-top-item {
              background: #FFFFFF;
              color: #555555;
            }
            #oc-menu-v{{section.id}} .ul-top-items .li-top-item .a-top-link {
              padding: 10px 25px 10px 28px;
              color: #555555;
              font-size: 14px;
              line-height: 26px;
              text-transform: capitalize;
              font-weight: 400;
            }
            #oc-menu-v{{section.id}} .ul-top-items .li-top-item:hover, #oc-menu-v{{section.id}} .ul-top-items .li-top-item.active {
              background: #FFFFFF;
              color: {{ color_skin }};
            }
            #oc-menu-v{{section.id}} .ul-top-items .li-top-item:hover .a-top-link, #oc-menu-v{{section.id}} .ul-top-items .li-top-item.active .a-top-link{
              color: {{ color_skin }};
              font-weight: 400;
            }
            #oc-menu-v{{section.id}} .mega-menu-container {
              width: 600px;
              background: #FFFFFF;
              padding: 30px 30px 8px 30px;
            }
            #oc-menu-v{{section.id}} .mega-menu-container .a-mega-second-link,#oc-menu-v{{section.id}} .mega-menu-container .widget-html-title {
              color: #282828;
            }
            #oc-menu-v{{section.id}} .mega-menu-container .a-mega-third-link {
              color: #666666;
            }
            #oc-menu-v{{section.id}} .ul-second-items .li-second-items {
              background: #FFFFFF;
              color: #282828;
            }
            #oc-menu-v{{section.id}} .ul-second-items .li-second-items:hover, #oc-menu-v{{section.id}} .ul-second-items .li-second-items.active {
              background: #FFFFFF;
              color: {{ color_skin }};
            }
            #oc-menu-v{{section.id}} .ul-second-items .li-second-items .a-second-link {
              color: #282828;
              font-size: 14px;
              text-transform: capitalize;
              font-weight: 600;
            }
            #oc-menu-v{{section.id}} .ul-second-items .li-second-items:hover .a-second-link, #oc-menu-v{{section.id}} .ul-second-items .li-second-items.active .a-second-link {
              color: {{ color_skin }};
              font-weight: 600;
            }
            #oc-menu-v{{section.id}} .ul-third-items .li-third-items {
              background: #FFFFFF;
            }
            #oc-menu-v{{section.id}} .ul-third-items .li-third-items:hover, #oc-menu-v{{section.id}} .ul-third-items .li-third-items.active {
              background: #FFFFFF;
            }
            #oc-menu-v{{section.id}} .ul-third-items .li-third-items .a-third-link {
              color: #666666;
              font-size: 14px;
              text-transform: capitalize;
              font-weight: 400;
            }
            #oc-menu-v{{section.id}} .ul-third-items .li-third-items:hover .a-third-link, #oc-menu-v{{section.id}} .ul-third-items .li-third-items.active .a-third-link {
              color: {{ color_skin }};
              font-weight: 400;
            }
          </style>
          {% include 'main-menu-ver', c: false %}
        </div>
      </div>
    </div>
  </div>
</header>
{% include 'custom-functions-popup' %}
{% include 'custom-login-popup' %}
{% include 'custom-add-to-cart-popup' %}
{% include 'custom-pdf-popup' %}
{% include 'custom-blog-popup' %}
{% include 'custom-buy-now-popup' %}
{% include 'cart-view-slider' %}
<script>
    var smallScreen = window.matchMedia("(max-width: 480px)");
    var largeScreen = window.matchMedia("(min-width: 980px)");

    if (smallScreen.matches){

       $("#linktext").addClass("col-sms-5");
       $("#ollblogstext").addClass("col-sms-offset-11");
      $("#linktext").removeClass("col-sm-offset-7");
    }
    if (largeScreen.matches){

       $("#linktext").addClass("col-sm-offset-7");
      $("#linktext").removeClass("col-sms-5");
      $("#ollblogstext").removeClass("col-sms-offset-11");
  }
</script>
<script type="application/ld+json">
  {
   "@context": "https://schema.org",
    "@type": "Organization",
   "url":"https://examcart.in/",
   "logo":"https://cdn.shopify.com/s/files/1/2707/1762/files/Agrawal_Examcart_Books__1.png?v=1674318146",
   "description":"Get ready to Pass your exam with confidence. Examcart's comprehensive study materials, practice tests and guidebook give you the knowledge and skills you need to succeed."
  }
</script>
