{% unless current_collection %}
{% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

{% comment %}Select the product image size from settings.{% endcomment %}
{% assign img_size = settings.img_size_grid %}
<div class="product-layout list-style">
  <div class="product-thumb transition">
    <div class="item">
      <div class="item-inner">
        <div class="image images-container">
          <a href="{{ product.url }}" class="product-image">
            <img class="img-responsive img-default-image img-cate-{{product.id}}{% if section %}-{{section.id}}{%endif %}" src="{{ product.featured_image.src | img_url: img_size }}" alt="{{ product.featured_image.alt | escape }}">
          </a>
          <div class="box-label"></div>
        </div>
        <!-- image -->
        <div class="caption">
          {% if settings.grid_vendor_enable %}
          <p class="manufacture-product">
            {{ product.vendor | link_to_vendor }}
          </p>
          {% endif %}
          {% if settings.hide_review != true %}
          <div class="ratings">
            <div class="rating-box">
              {% include 'review' %}
            </div>
          </div>
          {% endif %}
          <h4 class="product-name">
            <a href="{{ product.url | within: collection }}">
              {% if settings.limit_title_words == true %}{{ product.title | truncatewords:settings.limit_title_words_count, "" }}{% else %}{{ product.title }}{% endif %}
            </a>
          </h4>
          <div class="price-box">
            {% if product.compare_at_price > product.price %}
            <p class="special-price"><span class="price">{{ product.price | money }}</span></p>
            <p class="old-price"><span class="price">{{ product.compare_at_price_max | money }}</span></p>	
            {% else %}
            <p class="regular-price"><span class="price">{{ product.price | money }}</span></p>
            {% endif %}
          </div>
          <!-- price-container -->
        </div>
      </div>
      <!-- caption -->
    </div>
  </div>
  <!-- product-thumb -->
</div>
<!-- product-layout -->