{% if template == 'search' %}
  {% assign product_created_at = item.created_at | date: '%s' %}
  {% assign time_ago = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 %}
  {% assign product_new_time = settings.product_new_time | times: 1 %}
  {% if time_ago < product_new_time %}
    <div class="label-product label_new"></div>
    <!-- <span>{{ 'products.product.new' | t }}</span> -->
  {% endif %}
  {% if on_sale %}
    <div class="label-product label_sale">
      <span
        >-
        {{- item.compare_at_price | minus: item.price | times: 100.0 | divided_by: item.compare_at_price | round -}}
        %</span
      >
    </div>
  {% endif %}
  {% comment %}
    {% if sold_out %}
      <div class="label-product label_sale l_sold">
        <span>Available on Amazon</span>
        <!-- <span>{{ 'products.product.sold_out' | t }}</span> -->
      </div>
    {% endif %}
  {% endcomment %}
{% else %}
  {% assign product_created_at = product.created_at | date: '%s' %}
  {% assign time_ago = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 %}
  {% assign product_new_time = settings.product_new_time | times: 1 %}
  {% if time_ago < product_new_time %}
    <div class="label-product label_new"></div>
    <!-- <span>{{ 'products.product.new' | t }}</span> -->
  {% endif %}
  {% if on_sale %}
    <!--
      <div class="label-product label_sale">
        <span
          >-
          {{-
            product.compare_at_price
            | minus: product.price
            | times: 100.0
            | divided_by: product.compare_at_price
            | round
          -}}
          %</span
        >
      </div>
    -->
  {% endif %}
  <br>
  {% if product.template_suffix == 'pre-order' %}
    <div class="label-product label_sale l_sold" style="margin: 2px">
      <span> Pre-Order Now</span>
    </div>
  {%- endif %}
  {% if product.available == false %}
    <div class="label-product label_sale l_sold" style="margin: 2px">
      <span>Available on Amazon</span>
    </div>
  {% endif -%}
{%- endif %}
