
                                        {% assign selectedVariant = product.selected_or_first_available_variant %}
                                        {%- assign moneyformat = shop.money_format | split: "{{" | last | remove: "}}" | strip | strip_html -%}
                                        {% assign saleAmount = 0 %}	
                                        {% assign salePercent = 0 %}
                                        {% if selectedVariant.price and selectedVariant.compare_at_price %}
                                            {% assign saleAmount = selectedVariant.compare_at_price | minus: selectedVariant.price %}
                                            {% if saleAmount > 0 %}
                                              {% if moneyformat == "amount_with_comma_separator" or moneyformat == "amount_no_decimals_with_comma_separator" or  moneyformat contains "amount_with_comma_separator" %}
                                                {% assign salePercent = selectedVariant.compare_at_price | minus: selectedVariant.price | times: 100.0 | divided_by: selectedVariant.compare_at_price | money_without_currency | replace: ",", "." | times: 100 | remove: ".0" | plus: 0 %}
                                              {% elsif moneyformat contains "amount_no_decimals" %} 
                                                {% assign divisor = selectedVariant.compare_at_price  | times: 1.0 %}
                                                {% assign salePercent = selectedVariant.compare_at_price | minus: selectedVariant.price | divided_by: divisor  | times: 100.0 | round %}
                                              {% else %} 
                                                {% assign salePercent = selectedVariant.compare_at_price | minus: selectedVariant.price | times: 100.0 | divided_by: selectedVariant.compare_at_price | money_without_currency | times: 100 | remove: ".0" | plus: 0 %}
                                              {% endif %}
                                           {% endif %}
                                        {% endif %}
                                        {% capture variantData %}
                                        {
                                          "id": "{{ selectedVariant.id }}",
                                          "title": "{{ selectedVariant.title | escape }}",
                                          "available": "{{ selectedVariant.available }}",
                                          "inventory_management": "{{ selectedVariant.inventory_management }}",
                                          "inventory_policy": "{{ selectedVariant.inventory_policy }}",
                                          "inventory_quantity": "{{ selectedVariant.inventory_quantity | default: 0 }}",
                                          "price": "{{ selectedVariant.price }}",
                                          "compare_at_price": "{{ selectedVariant.compare_at_price }}",
                                          "unit_price": "{{ selectedVariant.unit_price }}",
                                          "weight": "{{ selectedVariant.weight }}",
                                          "weight_in_unit": "{{ selectedVariant.weight_in_unit }}",
                                          "weight_unit": "{{ selectedVariant.weight_unit }}",
                                          "saleAmount": "{{saleAmount | money}}",
                                          "salePercent": "{{ salePercent }}"
                                        }
                                        {% endcapture %}
                                        {% capture variantsData %}
                                          [
                                          {% for variant in product.variants %}
                                            {% assign _saleAmount = 0 %}	
                                            {% assign _salePercent = 0 %}
                                            {% if variant.price and variant.compare_at_price %}
                                                {% assign _saleAmount = variant.compare_at_price | minus: variant.price %}
                                                {% if _saleAmount > 0 %}
                                                  {% if moneyformat == "amount_with_comma_separator" or moneyformat == "amount_no_decimals_with_comma_separator" or  moneyformat contains "amount_with_comma_separator" %}
                                                    {% assign _salePercent = variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | money_without_currency | replace: ",", "." | times: 100 | remove: ".0" | plus: 0 %}
                                                  {% elsif moneyformat contains "amount_no_decimals" %} 
                                                    {% assign divisor = variant.compare_at_price  | times: 1.0 %}
                                                    {% assign _salePercent = variant.compare_at_price | minus: variant.price | divided_by: divisor  | times: 100.0 | round %}
                                                  {% else %} 
                                                    {% assign _salePercent = variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | money_without_currency | times: 100 | remove: ".0" | plus: 0 %}
                                                  {% endif %}
                                               {% endif %}
                                            {% endif %}
                                            {
                                              "id": "{{ variant.id }}",
                                              "title": "{{ variant.title }}",
                                              "available": "{{ variant.available }}",
                                              "inventory_management": "{{ variant.inventory_management }}",
                                              "inventory_policy": "{{ variant.inventory_policy }}",
                                              "inventory_quantity": "{{ variant.inventory_quantity | default: 0 }}",
                                              "price": "{{ variant.price }}",
                                              "compare_at_price": "{{ variant.compare_at_price }}",
                                              "unit_price": "{{ variant.unit_price }}",
                                              "weight": "{{ variant.weight }}",
                                              "weight_in_unit": "{{ variant.weight_in_unit }}",
                                              "weight_unit": "{{ variant.weight_unit }}",
                                              "saleAmount": "{{_saleAmount | money}}",
                                              "salePercent": "{{ _salePercent }}"
                                            }
                                            {% if forloop.last == false %}
                                            ,
                                            {% endif %}
                                          {% endfor %}
                                          ]
                                        {% endcapture %}
                                        {% assign stOnSale = 0 %}
                                        {% for variant in product.variants %}
                                            {% if variant.compare_at_price > variant.price %}
                                              {% assign stOnSale = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% assign stInventory = 0 %}
                                        {% for variant in product.variants %}
                                            {% if variant.available and variant.inventory_management != null and variant.inventory_quantity > 0 %}
                                              {% assign stInventory = stInventory | plus: variant.inventory_quantity %}
                                            {% endif %}
                                          {% if variant.available and variant.inventory_management == null %}
                                              {% assign stInventory = stInventory | plus: 0 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% capture stCollections %}
                                            {% for collection in product.collections %}{{ collection.id }},{% endfor %}
                                        {% endcapture %}
                                        {% capture stTags %}
                                            {% for tag in product.tags %}{{ tag }},{% endfor %}
                                        {% endcapture %}
                                        <div data-app="shine-trust-single" 
                                          data-variant="{{ variantData |strip| base64_encode }}"  
                                          data-variants="{{ variantsData |strip| base64_encode }}"
                                          data-created-at="{{ product.created_at | date: "%Y-%m-%d %H:%M:%S" }}" 
                                          data-on-sale="{{ stOnSale }}" 
                                          data-inventory="{{ stInventory }}"
                                          data-collections="{{ stCollections | strip }}"
                                          data-tags="{{ stTags | strip }}"
                                          data-title="{{ product.title | replace: "'", "&#x27;" }}"
                                          data-id="{{ product.id }}"
                                          data-available="{{ product.available }}"
                                          data-handle="{{ product.handle }}"
                                          data-price="{{ product.price }}"
                                          data-price-min="{{ product.price_min }}"
                                          data-price-max="{{ product.price_max }}"
                                          data-compare-at-price="{{ product.compare_at_price }}"
                                          data-vendor="{{ product.vendor}}"
                                          data-type="{{ product.type }}"
                                          ></div> 
                                        