<div class="row-{{section.id}} main-row slider-group {% if section.settings.fullwidth == true %}full-width{% endif  %}">
  <div class="container">
    <div class="row">
      <div class="main-col col-sm-12 col-md-12">
        <div class="row sub-row">
          <div class="sub-col col-sm-12 col-md-8">
            <!--Slider Area Start-->
            <div class="banner7">
              {% if section.blocks.size > 0 %}
              <div class= "oc-banner7-container" id="Slideshow-{{ section.id }}">
                <div class="flexslider oc-nivoslider our_story">
                  <div class="oc-loading"></div>
                  <div id="oc-inivoslider1" class="nivoSlider slides static_video">
                    {% for block in section.blocks %}
                    {% if block.type == 'image' or block.type == 'video' %}
                    {% if block.settings.image != blank %}
                    {% if block.settings.image_clickable %}
                    <a href="{{ block.settings.slide_link }}" target="_blank" style="z-index: 9">
                      {% endif %}
                      <img style="display: none;" {% if block.type == 'video' %}class="img_static" {% endif %} src="{{ block.settings.image | img_url: '770x494' }}" alt="" title="#banner7-caption{{ forloop.index }}" />
                      {% if block.settings.image_clickable %}
                    </a>
                    {% endif %}
                    {% else %}
                    <img style="display: none;" src="{{ 'slider-default-image.jpg' | asset_img_url: 'master' }}" alt="" title="#banner7-caption{{ forloop.index }}" />                  
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% for block in section.blocks %}
                  {% if block.type == 'image' %}
                  <div id="banner7-caption{{ forloop.index }}" {{ block.shopify_attributes }} class="banner7-caption nivo-html-caption nivo-caption move-slides-effect" data-class="slide-movetype{{ forloop.inidex }}">
                    <div class="timeloading"></div>
                    <div class="banner7-content {{ block.settings.animation_style }}" >
                      <div class="text-content" style="top:{{ block.settings.top }};right:{{ block.settings.right }};left:{{ block.settings.left }};width:{{ block.settings.width }};text-align:{{ block.settings.float }};" >
                        {% if block.settings.heading != blank %}  
                        <div>
                          <h1 class="title1" style="font-size:{{ block.settings.heading_size }}; color:{{ block.settings.heading_color }};">{{ block.settings.heading }}</h1>
                        </div>
                        {% endif %}
                        {% if block.settings.subheading != blank %}  
                        <div>
                          <h2 class="sub-title" style="font-size:{{ block.settings.subheading_size }};color:{{ block.settings.subheading_color }};">{{ block.settings.subheading }}</h2>
                        </div>
                        {% endif %}
                        {% if block.settings.description != blank %} 
                        <div class="banner7-des">
                          <p style="color:{{ block.settings.description_color }}; {% if block.settings.float == 'center' %} margin-right:auto;margin-left:auto;{% endif %}"> {{ block.settings.description }}</p>
                        </div>
                        {% endif %}
                        {% if block.settings.slide_link_text != blank %} 
                        <div class="banner7-readmore">
                          {% assign link_bg =  block.settings.link_bg | color_to_hex %}
                          {% if link_bg == '#000000' %}
                          {% capture border %}border-color: {{settings.color_skin}} !important;{% endcapture %}
                          {% else %}
                          {% capture border %}border-color: {{block.settings.link_bg}} !important;{% endcapture %}
                          {% endif %}
                          <a class="link-more" href="{{ block.settings.slide_link }}" style="background-color:{{ block.settings.link_bg }} !important;{{ border }}color:{{ block.settings.link_color }} !important;" onmouseover="this.style='background-color:{{ settings.color_skin }} !important;color:#fff !important;';" onmouseout="this.style='color:{{ block.settings.link_color }} !important;{{ border }}background-color:{{ block.settings.link_bg }} !important';">
                            {{ block.settings.slide_link_text }}</a>		
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if block.type == 'video' %}
                  <div id="banner7-caption{{ forloop.index }}" {{ block.shopify_attributes }} class="banner7-caption nivo-html-caption nivo-caption move-slides-effect">
                    <div class="timeloading"></div>
                    <div class="banner7-content {{ block.settings.animation_style }}">
                      <div class="text-content">
                      </div>
                    </div>
                    <div id="cms_play"><img style="display: block; z-index: 99;" src=" {{ 'playing_video.png' | asset_url }}" alt="" width="100"></div>
                    <script>// <![CDATA[
                      $(document).ready(function(){
                        $('#cms_play').click(function(){
                          $(this).hide('fast');
                          $('.nivo-main-image').hide();
                          {% if block.settings.video_type == 'youtube' %}
                          $('.nivo-main-image').after('<iframe class="added_video" id="svid" src="https://www.youtube.com/embed/{{ block.settings.video_src }}?rel=0&showinfo=0&autoplay={{ block.settings.video_autoplay }}" frameborder="0" allowfullscreen></iframe>');
                                                      {% elsif block.settings.video_type == 'vimeo' %}
                                                      $('.nivo-main-image').after('<iframe class="added_video" id="svid" src="https://player.vimeo.com/video/{{ block.settings.video_src }}?color=ffffff&title=0&byline=0&portrait=0&autoplay={{ block.settings.video_autoplay }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>');
                                                      {% elsif block.settings.video_type == 'mp4' %}
                                                      $('.nivo-main-image').after('<video class="added_video" id="svid" controls autoplay width="100%" height="100%" poster="https://via.placeholder.com/1920x850/ffffff/ffffff" ><source src="{{ block.settings.video_src }}" type="video/mp4"></video>');
                                                      {% endif %}
                                                      });
                                                      });
                                                      {% unless block.settings.video_type == 'mp4' and block.settings.video_autoplay == false %}
                                                      $('#cms_play').click();
                                                      {% endunless %}
                                                      // ]]></script>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <script >
                    $(document).ready(function() {
                      $('#oc-inivoslider1').nivoSlider({
                        effect:    "random"  ,
                        slices: 15,
                        boxCols: 8,
                        boxRows: 4,
                        manualAdvance:  false  ,
                        animSpeed: 500,
                        pauseTime:   {{ section.settings.autoplay_speed }}  ,
                        startSlide: 0,
                        controlNav:   true  ,
                        directionNav:     false   ,
                        controlNavThumbs: false,
                        pauseOnHover:   true  ,
                        prevText: '<i class="fas fa-angle-left"></i>',
                        nextText: '<i class="fas fa-angle-right"></i>',
                        afterLoad: function(){
                        $('.oc-loading').css("display","none");
                        $('.timeloading').css('animation-duration'," {{ section.settings.autoplay_speed }}ms ");
                      },						
                                                       });
                    });
                  </script>
                </div>
              </div>
              {% endif %}
            </div>  
          </div>
          <div class="sub-col col-sm-12 col-md-4">
            {% assign product_collection = section.settings.collection %}
            <div class="tt_product_module multi-rows list-module2" id="product_module{{section.id}}">
              {% comment %}<div class="module-title">
              <h2>Best Sellers</h2>
              </div>{% endcomment %}
              <div class="box-style">
                <div class="col-product">
                  <div class="owl-container">
                    <div class="tt-product  owl-carousel owl-theme ">
                      <!-- Grid -->
                      <div class="row_items {% cycle 'odd','even' %}">
                        {% for product in collections[product_collection].products %}
                        {% include 'product-grid-item-list' %}
                        {% if forloop.last == false %}
                        {% cycle '','','</div><div class="row_items">' %}
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <script >
              var product_owlCarousel = $("#product_module{{section.id}} .tt-product");
                                          product_owlCarousel.owlCarousel({
                                          loop:  false ,
                                          margin:  0 ,
                                          nav:  false ,
                                          dots:  false ,
                                          autoplay:   false ,
                                          autoplayTimeout:  1000 ,
                                          autoplayHoverPause: true,
                                          autoplaySpeed:  1000 ,
                                          navSpeed:  1000 ,
                                          dotsSpeed:  1000 ,
                                          lazyLoad: true,
                                          responsive:{
                                          0:{
                                          items: 1,
                                          nav: false
                                          },
                                          480:{
                                          items: 2,
                                          nav: false
                                          },
                                          768:{
                                          items: 2
                                          },
                                          992:{
                                          items: 1
                                          },
                                          1200:{
                                          items: 1
                                          },
                                          1600:{
                                          items: 1
                                          }
                                          },
                                          onInitialized: function() {
                owlAction();
                var i = 0;
                $('.owl-dots > .owl-dot').each(function() {
                  $(this).addClass('clk-' + i);
                  i++;
                });
              },
                onTranslated: function() {
                  owlAction();

                }
              });
              function owlAction() {
                $("#product_module{{section.id}} .tt-product .owl-item").removeClass('first');
                  $("#product_module{{section.id}} .tt-product .owl-item").removeClass('last');
                  $("#product_module{{section.id}} .tt-product .owl-item").removeClass('before-active');
                  $("#product_module{{section.id}} .tt-product .owl-item.active:first").addClass('first');
                  $("#product_module{{section.id}} .tt-product .owl-item.active:last").addClass('last');
                  $('#product_module{{section.id}} .tt-product .owl-item.active:first').prev().addClass('before-active');
                  }

            </script>
          </div>
          <!--End of Slider Area-->
        </div>
      </div>
    </div>
  </div>
</div>