<!doctype html>
<!--[if IE]>  <![endif]-->
<!--[if IE 8 ]> <html dir="ltr" lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html dir="ltr" lang="en" class="ie9"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html dir="ltr" lang="en" style="overflow-x:hidden;">
  <!-- <![endif] -->
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TRWMHBL');
    </script>
    <!-- End Google Tag Manager -->
    {%- if dropinblog == 1 -%}{{ dropinblog_head_top }}{%- endif -%}

    <meta name="google-site-verification" content="1K4_oLp9iLEt33eaCLB3CEEfv2TktQ34VDLLXYnhhHU">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests; object-src 'none'">
    <!-- Global site tag (gtag.js) - Google Ads: 780721735 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-780721735"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-780721735');
    </script>

    {% render 'pagefly-head' %}
    {% include 'shop-sheriff-amp' %}
    <!-- Basic page needs ================================================== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if settings.favicon_enable %}
      <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
      <link rel="apple-touch-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}
      {% if current_tags -%}
        {%- assign current_tags_joined = current_tags | join: ', ' %} &ndash;
        {{ 'general.meta.tags' | t: tags: current_tags_joined -}}
      {%- endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <base href="{{ canonical_url }}">

    <!-- Product meta ================================================== -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}

    <!-- Helpers ================================================== -->
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- CSS ================================================== -->
    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
    {{ 'owl.theme.green.min.css' | asset_url | stylesheet_tag }}
    {{ 'menu.css' | asset_url | stylesheet_tag }}
    {{ 'animate.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ '//use.fontawesome.com/releases/v5.6.1/css/all.css' | stylesheet_tag }}
    {{ '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}
    {{
      '//cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css'
      | stylesheet_tag
    }}
    {{ 'pe-helper.css' | asset_url | stylesheet_tag }}
    {{ 'elegant-font-style.css' | asset_url | stylesheet_tag }}
    {{ '//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' | stylesheet_tag }}
    {{ '//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css' | stylesheet_tag }}
    {{ 'stroke-gap-icons.css' | asset_url | stylesheet_tag }}
    {{ '//cdn.linearicons.com/free/1.0.0/icon-font.min.css' | stylesheet_tag }}
    {{ 'plaza-font.css' | asset_url | stylesheet_tag }}
    {{ 'slideshow.css' | asset_url | stylesheet_tag }}
    {% include 'google-fonts' %}
    {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
    {{ 'ajaxlogin.css' | asset_url | stylesheet_tag }}
    {{ 'quickview.css' | asset_url | stylesheet_tag }}
    {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-custom.css' | asset_url | stylesheet_tag }}
    {% if template contains 'product' %}
      {{ 'zoom.css' | asset_url | stylesheet_tag }}
      {{ 'cloud-zoom.css' | asset_url | stylesheet_tag }}
      {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    {% endif %}
    {% if template contains 'collection' %}
      {{ 'category.css' | asset_url | stylesheet_tag }}
      {{ 'filter.css' | asset_url | stylesheet_tag }}
    {% endif %}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css' | stylesheet_tag }}
    {% if template == 'page.faq' %}
      {{ 'faq-style.css' | asset_url | stylesheet_tag }}
    {% endif %}
    {% comment %}
      {{ 'bebas_neue.css' | asset_url | stylesheet_tag }}
      {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
    {% endcomment %}
    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}
    {% include 'ets_fs_assets' %}
    {% include 'oldIE-js' %}
    <!-- JavaScripts -->
    {{ 'jquery-2.1.1.min.js' | asset_url | script_tag }}
    {{ 'owl.carousel.min.js' | asset_url | script_tag }}
    {{ 'jquery.plugin.min.js' | asset_url | script_tag }}
    {{ 'jquery.countdown.min.js' | asset_url | script_tag }}
    {{ 'menu.js' | asset_url | script_tag }}
    {{ 'jquery.nivo.slider.js' | asset_url | script_tag }}
    {% if template == 'index' %}
    {% endif %}
    {% comment %}
      {% if settings.grid_color_swatches %}{{ 'swatches.js' | asset_url | script_tag }}{% endif %}
    {% endcomment %}
    {% if template contains 'product' %}
      {{ 'cloud-zoom.1.0.2.min.js' | asset_url | script_tag }}
      {{ 'zoom.js' | asset_url | script_tag }}
    {% endif %}
    {% if template contains 'collection' %}
      {{ 'grid.js' | asset_url | script_tag }}
      {{ 'filter.js' | asset_url | script_tag }}
    {% endif %}
    {{ 'jquery.bpopup.min.js' | asset_url | script_tag }}
    {{ 'jquery.cookie.js' | asset_url | script_tag }}
    {{ 'moment.min.js' | asset_url | script_tag }}
    {{ 'quickview.js' | asset_url | script_tag }}
    {{ 'swiper.jquery.js' | asset_url | script_tag }}
    {{ 'common.js' | asset_url | script_tag }}
    {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js' | script_tag }}
    {{ 'shipping-cart.js' | asset_url | script_tag }}
    {% if template != 'cart' %}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    {% endif %}
    {% if template == 'page.faq' %}
      {{ 'faq-main.js' | asset_url | script_tag }}
    {% endif %}
    {{ 'jquery-ui.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.min.js' | asset_url | script_tag }}
    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {% endif %}
    {%- if dropinblog == 1 -%}{{ dropinblog_head_bottom }}{%- endif -%}
    {% render 'analyzify-product-datalayer.liquid' %}
    {% if template contains 'page' or request.path contains '.atom' %}
      <meta name="robots" content="noindex, nofollow">
    {% endif %}
    {% comment %}
      Please do not edit this file. This file will be updated frequently so any manual changes will be discarded
      It's recommended to include this file right before closing </head> tag
    {% endcomment %}
    <!-- Start of Judge.me Core -->
    <link rel="dns-prefetch" href="https://cdn.judge.me/">
    {{ shop.metafields.judgeme.settings }}
    {% for count in (0..5) %}
      {% assign metafield_key = 'html_miracle_' | append: count %}
      {% assign current_metafield = shop.metafields.judgeme[metafield_key] %}
      {% unless current_metafield %} {% break %} {% endunless %}
      {{ current_metafield }}
    {% endfor %}

    <script data-cfasync="false" class="jdgm-script">
      !function(e){window.jdgm=window.jdgm||{},jdgm.CDN_HOST="https://cdn.judge.me/",
      jdgm.docReady=function(d){(e.attachEvent?"complete"===e.readyState:"loading"!==e.readyState)?
      setTimeout(d,0):e.addEventListener("DOMContentLoaded",d)},jdgm.loadCSS=function(d,t,o,s){
      !o&&jdgm.loadCSS.requestedUrls.indexOf(d)>=0||(jdgm.loadCSS.requestedUrls.push(d),
      (s=e.createElement("link")).rel="stylesheet",s.class="jdgm-stylesheet",s.media="nope!",
      s.href=d,s.onload=function(){this.media="all",t&&setTimeout(t)},e.body.appendChild(s))},
      jdgm.loadCSS.requestedUrls=[],jdgm.docReady(function(){(window.jdgmLoadCSS||e.querySelectorAll(
      ".jdgm-widget, .jdgm-all-reviews-page").length>0)&&(jdgmSettings.widget_load_with_code_splitting?
      parseFloat(jdgmSettings.widget_version)>=3?jdgm.loadCSS(jdgm.CDN_HOST+"widget_v3/base.css"):
      jdgm.loadCSS(jdgm.CDN_HOST+"widget/base.css"):jdgm.loadCSS(jdgm.CDN_HOST+"shopify_v2.css"))})}(document);
    </script>
    <script async data-cfasync="false" type="text/javascript" src="https://cdn.judge.me/loader.js"></script>

    <noscript><link rel="stylesheet" type="text/css" media="all" href="https://cdn.judge.me/shopify_v2.css"></noscript>
    <!-- End of Judge.me Core -->

    {% style %}
      [data-product-available="false"] #st-sticky-cart-wrapper{
        display: none !important;
      }
    {% endstyle %}
  </head>
  <body
    class="
      {% case template %}
      {% when 'index' %}
      common-home
      {% when 'collection' %}
      product-category
      {% when 'product' %}
      product-product product-details
      {% when 'blog' %}
      blog-blog
      {% when 'article' %}
      blog-article
      {% when 'cart' %}
      checkout-cart
      {% when 'customers/login' %}
      account-login
      {% else %}
      {% endcase %} home1
    "
    data-product-available="{{ product.available }}"
  >
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
      {% section 'header' %}
      {% if template == 'index' %}
        <div id="content">
      {% endif %}
      {{ content_for_layout }}
      {% if template == 'index' %}
        </div>
      {% endif %}
      <!-- End Content -->

      {% include 'quickview' %}

      {% section 'footer' %}

      {% if settings.show_pupup and template == 'index' %}
        {% include 'popup' %}
      {% endif %}

      <script>
        var moneyFormat = '{{ shop.money_format }}';
      </script>

      {% if template contains 'product' %}
        {{ 'handlebars.min.js' | asset_url | script_tag }}
      {% endif %}
      {% if settings.ajax_cart_method != 'page' %}
        {% include 'ajax-cart-template' %}
        {{ 'ajaxify.js' | asset_url | script_tag }}

        <script>
          jQuery(function($) {
            ajaxifyShopify.init({
              method: '{{ settings.ajax_cart_method }}',
              wrapperClass: 'product-detail',
              formSelector: '#addToCartForm',
              addToCartSelector: '#addToCart',
              cartCountSelector: '.cart-count',
              cartCostSelector: '.cart-cost',
              toggleCartButton: '.cart-toggle',
              useCartTemplate: true,
              btnClass: 'btn',
              moneyFormat: {{ shop.money_format | json }},
              disableAjaxCart: false,
              enableQtySelectors: true
            });
          });
        </script>
      {% endif %}
      {{ 'fastclick.min.js' | asset_url | script_tag }}
      {% if template contains 'product' %}
        {{ 'shop.js' | asset_url | script_tag }}
      {% endif %}
      {% if settings.hide_wishlist == false %}
        {{ 'Wishlist.js' | asset_url | script_tag }}
        <script>
          (function() {
            Wishlist.init();
          }());
        </script>
      {% endif %}
      {% if settings.search_autofil_enable %}{% include 'search-autocomplete' %}{% endif %}
      {% if settings.show_gdpr_msg %}{% include 'cookie-consent' %} {% endif %}
      {% include 'currencies' %}
    </div>
    {{ 'zifyapp-fblogin.css' | asset_url | stylesheet_tag }}
    {{ 'zifyapp-fblogin.js' | asset_url | script_tag }}

    {% include 'ets_fs_layoutdata' %}

    {% include 'whatsapp-share' %}

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TRWMHBL"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'start-index' %}

    {{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}

    {% include 'shine-trust-js.liquid' %}
    {% if settings.show_pupup and template == 'index' %}
      <div
        class="modal fade"
        id="myModal5"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document" style="padding-top: 150px;">
          <div id="mod">
            {% include 'new-newsletter' %}
          </div>
        </div>
      </div>
    {% endif %}
    <script>
      let idSetTimeOut = ""
      {% if template.name != "theme" %}
        document.addEventListener('DOMContentLoaded', function(){

         // idSetTimeOut = setTimeout(newsletterpopup(), 5000);
      })
      {% endif %}



      function newsletterpopup() {
            if(localStorage.getItem("newsletterkey")== null)
            {
                 $("#myModal5").modal('show');
            }else{


            }

          }
    </script>
  </body>
</html>
