function getURLVar(key) {
  var value = [];

  var query = String(document.location).split('?');

  if (query[1]) {
    var part = query[1].split('&');

    for (i = 0; i < part.length; i++) {
      var data = part[i].split('=');

      if (data[0] && data[1]) {
        value[data[0]] = data[1];
      }
    }

    if (value[key]) {
      return value[key];
    } else {
      return '';
    }
  }
}

function isEmpty( el ){
  return !$.trim(el.html())
}

$(document).ajaxStop(function() {
  function isEmpty( el ){
    return !$.trim(el.html())
  }
  if (!isEmpty($('#product'))) {
    $('#product .option-container').addClass('has-option');      
  }	
});

$(document).ready(function() {
  // sidebar mobile toggle code start 
  if ($(window).width() <=991 ) {

    $('#sidebar-toggle .oc-menu-bar').click(function (e) {
      e.stopPropagation();
      var effect = $(this).closest('#sidebar-toggle.oc-menu').find('.menu-effect').val();
      $('#column-left').addClass('sidebar-toggle');
      $('.sidebar-overlay').toggle();
      if(effect == "none") {
        $('#column-left').toggle();
      }

      if(effect == "fade") {
        $('#column-left').fadeToggle();
      }

      if(effect == "slide") {
        $('#column-left').slideToggle();
      }

    });

    $('#column-left').click(function(e){
      e.stopPropagation();
    });

    $(document.body).click(function(e){
      var effect = $('#sidebar-toggle.oc-menu').find('.menu-effect').val();
      $('.sidebar-overlay').hide();
      console.log(effect);
      if(effect == "none") {
        $('#column-left').hide();
      }
      if(effect == "fade") {
        $('#column-left').fadeOut();
      }
      if(effect == "slide") {
        $('#column-left').slideUp();
      }
    });
  }
  // sidebar mobile toggle code end 

  // product video 
  $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
    type: 'iframe',
    mainClass: 'mfp-fade',
    removalDelay: 160,
    preloader: false,
    fixedContentPos: false
  });

  // color swatch js snippet
  $('.swatch :radio').change(function() {
    var optionIndex = $(this).closest('.swatch').attr('data-option-index');
    var optionValue = $(this).val();
    $(this)
    .closest('form')
    .find('.single-option-selector')
    .eq(optionIndex)
    .val(optionValue)
    .trigger('change');
  });

  // product page add to cart
  $('#button-cart').on('click', function(e) {
    e.preventDefault();
    $.ajax({
      url: '/cart/add.js',
      type: 'post',
      data: $('#form_buy input[type=\'text\'], #form_buy select'),
      dataType: 'json',
      beforeSend: function() {
        $('#button-cart').button('loading');
      },
      complete: function() {
        $('#button-cart').button('reset');
      },
      success: function(json) {
        $('.alert, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));
              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }
  {% comment %}
        toastr.success('{{ 'cart.general.item_added' | t }}');
  {% endcomment %}
                       $.getJSON('/cart.js', function(cart) {
          load(cart);
        });

        $('html, body').animate({ scrollTop: 0 }, 'slow');

      },
      error: function(xhr, ajaxOptions, thrownError) {
        if(xhr.status == 422 ) {
          toastr.warning('{{ 'cart.general.item_added_402' | t }}');
                         } else {
                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      }
    });
  });
  $('#button-cart-sticky').on('click', function(e) {
    e.preventDefault();
    $.ajax({
      url: '/cart/add.js',
      type: 'post',
      data: $('#form_buy input[type=\'text\'], #form_buy_sticky select'),
      dataType: 'json',
      beforeSend: function() {
        $('#button-cart-sticky').button('loading');
      },
      complete: function() {
        $('#button-cart-sticky').button('reset');
      },
      success: function(json) {
        $('.alert, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));
              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }
  {% comment %}
        toastr.success('{{ 'cart.general.item_added' | t }}');
  {% endcomment %}
                       $.getJSON('/cart.js', function(cart) {
          load(cart);
        });

        $('html, body').animate({ scrollTop: 0 }, 'slow');

      },
      error: function(xhr, ajaxOptions, thrownError) {
        if(xhr.status == 422 ) {
          toastr.warning('{{ 'cart.general.item_added_402' | t }}');
                         } else {
                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      }
    });
  });

  $('#button-cart-buy').on('click', function(e) {
    e.preventDefault();
    $.ajax({
      url: '/cart/add.js',
      type: 'post',
      data: $('#form_buy input[type=\'text\'], #form_buy select'),
      dataType: 'json',
      beforeSend: function() {
        $('#button-cart-buy').button('loading');
      },
      complete: function() {
        $('#button-cart-buy').button('reset');
      },
      success: function(json) {
        $('.alert, .text-danger').remove();
        $('.form-group').removeClass('has-error');

        if (json['error']) {
          if (json['error']['option']) {
            for (i in json['error']['option']) {
              var element = $('#input-option' + i.replace('_', '-'));
              if (element.parent().hasClass('input-group')) {
                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              } else {
                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
              }
            }
          }

          if (json['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }

        $.getJSON('/cart.js', function(cart) {
          window.location.href="/checkout";
        });

      },
      error: function(xhr, ajaxOptions, thrownError) {
        if(xhr.status == 422 ) {
          toastr.warning('{{ 'cart.general.item_added_402' | t }}');
                         } else {
                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      }
    });
  });

  // Scroll
  var currentP = 0;
  var stickyOffset = 0;
  var stickyOffset1 = 0;

  stickyOffset = $('header').offset().top;
  stickyOffset += $('header').outerHeight();
  stickyOffset += 30;

  if (!isEmpty($('#product-product'))) {
    stickyOffset1 = $('#form_buy').offset().top;
    stickyOffset1 += $('#form_buy').outerHeight();
  }

  $(window).scroll(function(){
    var headerH = $('header').height();
    var scrollP = $(window).scrollTop();
    var winInnW = window.innerWidth;

    if(scrollP != currentP){
      //Sticky header

      if(scrollP >= stickyOffset){
        if( winInnW > 991 ){
          $('.fix').addClass('fix-header');
        }
        if( winInnW > 0 ){
          $('.fix2').addClass('fix-header2');
        }

      } else {
        if( winInnW > 991 ){
          $('.fix').removeClass('fix-header');
        }
        if( winInnW > 0 ){
          $('.fix2').removeClass('fix-header2');
        }

      }
      if (!isEmpty($('#product-product'))) {

        if(scrollP >= stickyOffset1){
          $('.form_buy_sticky').addClass('fix-header2');
          $('.form_buy_sticky').addClass('fix-header1');
        } else {
          $('.form_buy_sticky').removeClass('fix-header1');
          $('.form_buy_sticky').removeClass('fix-header2');
        } 
      }
      currentP = $(window).scrollTop();
    }

  });

  if (!isEmpty($('#product'))) {
    $('#product .option-container').addClass('has-option');      
  }
  if (!isEmpty($('#product2'))) {
    $('#product2 .option-container').addClass('has-option');      
  }

  // move breadcrumbs
  $("header").after('<div class="breadcrumbs"><div class="container"><div class="inner"></div></div></div>');	
  var breadcrumb = $('ul.breadcrumb');
  var breadcrumbs_container = $('.breadcrumbs .container');
  var breadcrumbs_container_inner = $('.breadcrumbs .container .inner');
  var breadcrumbs = $('.breadcrumbs');
  var page_title = $('#content > h1');
  var category_image = $('.category-image');

  breadcrumb.prependTo(breadcrumbs_container_inner);

  // Highlight any found errors
  $('.text-danger').each(function() {
    var element = $(this).parent().parent();

    if (element.hasClass('form-group')) {
      element.addClass('has-error');
    }
  });

  /* Search */
  $('#btn-search-category').click(function () {
    var url = '/search';
    var value = $('header #search-by-category input[name=\'q\']').val();
    if(value == "Search all products..." || value ==""){
      jQuery('#search-by-category input[name=\'q\']').focus();
      return false;
    }else {
      url += '?type=product&q=' + encodeURIComponent(value);
    }
    location = url;
  });

  $('#text-search').on('keydown', function(e) {
    if (e.keyCode == 13) {
      $('#btn-search-category').trigger('click');
    }
  });
  // Menu
  $('#menu .dropdown-menu').each(function() {
    var menu = $('#menu').offset();
    var dropdown = $(this).parent().offset();

    var i = (dropdown.left + $(this).outerWidth()) - (menu.left + $('#menu').outerWidth());

    if (i > 0) {
      $(this).css('margin-left', '-' + (i + 10) + 'px');
    }
  });

  // Product List
  $('#list-view').click(function() {
    $('#content .product-grid > .clearfix').remove();

    $('#content .row > .product-grid').attr('class', 'product-layout product-list col-xs-12 product-item');
    $('#grid-view').removeClass('active');
    $('#list-view').addClass('active');

    $(".product-item .item").each(function() {
      var caption_top = $(this).find('.caption-top');
      var caption_inner = $(this).find('.caption >.inner');
      $(this).find('.product-name').prependTo(caption_inner);
      $(this).find('.manufacture-product').prependTo(caption_inner);
      $(this).find('.action-links').appendTo(caption_inner);
    });

    localStorage.setItem('display', 'list');

  });

  // Product Grid
  $('#grid-view').click(function() {
    var cols = $('#column-right, #column-left').length;

    if (cols == 2) {
      $('#content .product-list').attr('class', 'product-layout product-grid grid-style col-lg-6 col-md-6 col-sm-6 col-xs-6 product-item');
    } else if (cols == 1) {
      $('#content .product-list').attr('class', 'product-layout product-grid grid-style col-lg-4 col-md-4 col-sm-6 col-xs-6 product-item');
    } else {
      $('#content .product-list').attr('class', 'product-layout product-grid grid-style col-lg-3 col-md-3 col-sm-6 col-xs-6 product-item');
    }

    $('#list-view').removeClass('active');
    $('#grid-view').addClass('active');

    $(".product-item .item").each(function() {
      var images_container = $(this).find('.images-container');
      var caption_top = $(this).find('.caption-top');
      var caption_inner = $(this).find('.caption >.inner');
      $(this).find('.product-name').prependTo(caption_top);
      $(this).find('.manufacture-product').prependTo(caption_top);
      $(this).find('.action-links').appendTo(images_container);
    });


    localStorage.setItem('display', 'grid');

  });

  if (localStorage.getItem('display') == 'list') {
    $('#list-view').trigger('click');
    $('#list-view').addClass('active');
  } else {
    $('#grid-view').trigger('click');
    $('#grid-view').addClass('active');
  }

  // grid-style

  $('.grid-style .item').mouseover(function() {
    $(this).closest('.grid-style').addClass('active');
  });
  $('.grid-style .item').mouseout(function() {
    $(this).closest('.grid-style').removeClass('active');
  });

  // Checkout
  $(document).on('keydown', '#collapse-checkout-option input[name=\'email\'], #collapse-checkout-option input[name=\'password\']', function(e) {
    if (e.keyCode == 13) {
      $('#collapse-checkout-option #button-login').trigger('click');
    }
  });

  // tooltips on hover
  $('[data-toggle=\'tooltip\']').tooltip({container: 'body'});

  // Makes tooltips work on ajax generated content
  $(document).ajaxStop(function() {
    $('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
  });
});

// Cart add remove functions
var cart = {
  'add': function(product_id, quantity) {
    $.ajax({
      url: '/cart/add.js',
      type: 'post',
      data: 'id=' + product_id + '&quantity=' + (typeof(quantity) != 'undefined' ? quantity : 1),
      dataType: 'json',
      beforeSend: function() {
        var btn = $(this);
        //$('.btn-cart').button('loading');
      },
      complete: function() {
        $('.btn-cart').button('reset');
      },
      success: function(json) {
        $('.alert, .text-danger').remove();

        if (json['redirect']) {
          location = json['redirect'];
        }
        {% comment %}
        toastr.success('{{ 'cart.general.item_added' | t }}');
  {% endcomment %}
                       $.getJSON('/cart.js', function(cart) {
          load(cart);
        });

      },
      error: function(xhr, ajaxOptions, thrownError) {
        if(xhr.status == 422 ) {
          toastr.warning('{{ 'cart.general.item_added_402' | t }}');
                         } else {
                         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      }
    });
  },
  
  'remove': function(key) {
    $.ajax({
      url: '/cart/update.js',
      type: 'post',
      data: 'updates['+key+']=0',
      dataType: 'json',
      beforeSend: function() {
        //$('#cart > button').button('loading');
      },
      success: function(json) {
        $('#cart > button').button('reset');

        if (getURLVar('route') == '/cart' || getURLVar('route') == '/checkout') {
          location = '/cart';
        } else {
          setTimeout(function () {
            load(json);
          }, 5);       
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(xhr.responseText);
      }
    });
  },
  
  'update': function(key, count) {
    $.ajax({
      url: '/cart/update.js',
      type: 'post',
      data: 'updates['+key+']='+count,
      dataType: 'json',
      beforeSend: function() {
        //$('#cart > button').button('loading');
      },
      success: function(json) {
        $('#cart > button').button('reset');

        if (getURLVar('route') == '/cart' || getURLVar('route') == '/checkout') {
          location = '/cart';
        } else {
          setTimeout(function () {
            load(json);
          }, 5);       
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(xhr.responseText);
      }
    });
  }
}

function load(cart) {
  var targets = [
    { container: '#cartslider .cart-menu > li:first-child .table > tbody', noItems: '#cartslider .cart-menu li:not(:first-child):last-child' },
  ];
  
  if ($('#pageCart .table > tbody').length) {
    targets.push({ container: '#pageCart .table > tbody', noItems: '#pageCart .no-items' }); 
  }

  $('#totalCartQuantity, #cartIconTotalCount').html(cart.item_count);

  $.each(targets, function(_, target) {
    $(target.container + ' > tr').remove();

    $.each(cart.items, function (_, cartItem) {
      var price = parseInt(cartItem.price / 100) + "." + (cartItem.price % 100 < 10 ? "0" : "") + cartItem.price % 100;
      var price = parseInt(cartItem.price / 100) + "." + (cartItem.price % 100 < 10 ? "0" : "") + cartItem.price % 100;
    var cartRemove = 'onclick="cart.remove(\'' + cartItem.id + '\')"';
    var pages = '';
    var bookCodeMarkup = "<span style='color: #8ABD1E; font-weight: bold;'>Book code: </span>" +
                         "<span style='color: #A6A6A6;'> " + cartItem.sku + " |</span>";
    if (pages !== '') {
      bookCodeMarkup += "<span style='color: #8ABD1E; font-weight: bold;'>Pages: </span>" +
                        "<span style='color: #A6A6A6;'>" + pages + "</span>";
    }
    bookCodeMarkup = "<div>" + bookCodeMarkup + "</div>";

    var priceMarkup = "";
    if (cartItem.price < cartItem.compare_at_price) {
      var discountPercentage = Math.round((cartItem.compare_at_price - cartItem.price) * 100.0 / cartItem.compare_at_price);
      priceMarkup = "<div style='display: flex; gap: 0.2em; margin-bottom: 1em;'>" +
                    "<span style='color: #62ab00; font-weight: bold;'>" + "Rs. " + (cartItem.price / 100).toFixed(2) + "</span>" +
                    "<span style='color: gray; text-decoration: line-through;'>" + (cartItem.compare_at_price / 100).toFixed(2) + "</span>" +
                    "<div class='label-product label_sale' style=''><span>-" + discountPercentage + "%</span></div>" +
                    "</div>";
    } else {
      priceMarkup = "<div style='display: flex; gap: 0.2em; margin-bottom: 1em;'>" +
                    "<span style='color: #62ab00; font-weight: bold;'>" +  "Rs. " + (cartItem.original_price / 100).toFixed(2) + "</span>" +
                    "</div>";
    }
      
    var cartItemMarkup = "<tr><td class='text-center' style='width: 7em;'><a href='" + cartItem.url + "'>" +
                        "<img style='width: 7em;' class='cart-image' src='" + cartItem.image + "' alt='" + cartItem.title + "' title='" + cartItem.title + "'></a></td>" +
                        "<td class='text-left info-item'><a class='cart-name' href='" + cartItem.url + "'>" + cartItem.title + "</a>" +
                         bookCodeMarkup + 
                         priceMarkup + 
                        "<div style='display: flex; justify-content: space-between; align-items: center; margin-right: 2em;'>" +
                        "<div><button product-id='" + cartItem.variant_id + "' cart-quantity='" + cartItem.quantity + "' id='minusCart' type='button' onclick='updateCartCount(this)' style='border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;'>-</button>" +
                        "<span style='padding: 0.1em 0.5em;' id='itemQuantityBox-" + cartItem.variant_id + "'>" + cartItem.quantity + "</span>" +
                        "<button product-id='" + cartItem.variant_id + "' cart-quantity='" + cartItem.quantity + "' type='button' id='addCart' onclick='updateCartCount(this)' style='border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;'>+</button></div>" +
                        "<button style='padding: 0.1em 0.5em; border: 1px solid black; border-radius: 2px; background-color: #e7e7e7; color: black;' type='button' onclick='removeItem(this, " + cartItem.variant_id + ");' title='Remove'>Delete item</button>" +
                        "</div></td></tr>";

      $(target.container).append(cartItemMarkup);
    });

    if (cart.item_count < 1) {
      $(target.container).append('<p class="text-center cart-empty">{{ 'cart.general.no_items'| t }}</p>');
      $(target.noItems).removeClass('show').addClass('hide');
    } else {
      // $(target.container + ' p.cart-empty').remove();
      // $(target.noItems).removeClass('hide').addClass('show');
    }
  });
}


// function load(cart) {
//   var targets = ['#cartslider .cart-menu > li:first-child .table > tbody > tr'];
//   if ($('#pageCart .table > tbody').length) {
//     targets.push('#pageCart .table > tbody');
//   }
//     $('#totalCartQuantity, #cartIconTotalCount').html(cart.item_count);
// $.each(targets, function(index, target) {
//     $(target + ' > tr').remove();
  
//   $('#cartslider .cart-menu > li:first-child .table > tbody > tr').remove();
//   $.each(cart.items, function (index, cartItem) {

//     var price = parseInt(cartItem.price / 100) + "." + (cartItem.price % 100 < 10 ? "0" : "") + cartItem.price % 100;
//     var cartRemove = 'onclick="cart.remove(\'' + cartItem.id + '\')"';
//     var pages = '';
//     var bookCodeMarkup = "<span style='color: #8ABD1E; font-weight: bold;'>Book code: </span>" +
//                          "<span style='color: #A6A6A6;'> " + cartItem.sku + " |</span>";
//     if (pages !== '') {
//       bookCodeMarkup += "<span style='color: #8ABD1E; font-weight: bold;'>Pages: </span>" +
//                         "<span style='color: #A6A6A6;'>" + pages + "</span>";
//     }
//     bookCodeMarkup = "<div>" + bookCodeMarkup + "</div>";

//     var priceMarkup = "";
//     if (cartItem.price < cartItem.compare_at_price) {
//       var discountPercentage = Math.round((cartItem.compare_at_price - cartItem.price) * 100.0 / cartItem.compare_at_price);
//       priceMarkup = "<div style='display: flex; gap: 0.2em; margin-bottom: 1em;'>" +
//                     "<span style='color: #62ab00; font-weight: bold;'>" + "Rs. " + (cartItem.price / 100).toFixed(2) + "</span>" +
//                     "<span style='color: gray; text-decoration: line-through;'>" + (cartItem.compare_at_price / 100).toFixed(2) + "</span>" +
//                     "<div class='label-product label_sale' style=''><span>-" + discountPercentage + "%</span></div>" +
//                     "</div>";
//     } else {
//       priceMarkup = "<div style='display: flex; gap: 0.2em; margin-bottom: 1em;'>" +
//                     "<span style='color: #62ab00; font-weight: bold;'>" +  "Rs. " + (cartItem.original_price / 100).toFixed(2) + "</span>" +
//                     "</div>";
//     }
      
//     var cartItemMarkup = "<tr><td class='text-center' style='width: 7em;'><a href='" + cartItem.url + "'>" +
//                         "<img style='width: 7em;' class='cart-image' src='" + cartItem.image + "' alt='" + cartItem.title + "' title='" + cartItem.title + "'></a></td>" +
//                         "<td class='text-left info-item'><a class='cart-name' href='" + cartItem.url + "'>" + cartItem.title + "</a>" +
//                          bookCodeMarkup + 
//                          priceMarkup + 
//                         "<div style='display: flex; justify-content: space-between; align-items: center; margin-right: 2em;'>" +
//                         "<div><button product-id='" + cartItem.variant_id + "' cart-quantity='" + cartItem.quantity + "' id='minusCart' type='button' onclick='updateCartCount(this)' style='border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;'>-</button>" +
//                         "<span style='padding: 0.1em 0.5em;' id='itemQuantityBox-" + cartItem.variant_id + "'>" + cartItem.quantity + "</span>" +
//                         "<button product-id='" + cartItem.variant_id + "' cart-quantity='" + cartItem.quantity + "' type='button' id='addCart' onclick='updateCartCount(this)' style='border: none; padding: 0.1em 0.5em; border-radius: 2px; background-color: gray;'>+</button></div>" +
//                         "<button style='padding: 0.1em 0.5em; border: 1px solid black; border-radius: 2px; background-color: #e7e7e7; color: black;' type='button' onclick='removeItem(this, " + cartItem.variant_id + ");' title='Remove'>Delete item</button>" +
//                         "</div></td></tr>";

//     //$('#cartslider .cart-menu > li:first-child .table > tbody').append(cartItemMarkup);
//           $(target).append(cartItemMarkup); 

//   });
// if (cart.item_count < 1) {
//       $(target).append('<p class="text-center cart-empty">{{ 'cart.general.no_items'| t }}</p>');
//   $('#cartslider .cart-menu li:not(:first-child):last-child').removeClass('show');
//     $('#cartslider .cart-menu li:not(:first-child):last-child').addClass('hide');
//     }
//   });
// //   if (cart.item_count < 1) {
// //     $('#cartslider .cart-menu > li:first-child .table > tbody').append('<p class="text-center cart-empty">{{ 'cart.general.no_items'| t }}</p>');
// //     $('#cartslider .cart-menu li:not(:first-child):last-child').removeClass('show');
// //     $('#cartslider .cart-menu li:not(:first-child):last-child').addClass('hide');
// //   } 
//   else {
//     $('#cartslider .cart-menu p.cart-empty').remove();
//     $('#cartslider .cart-menu li:not(:first-child):last-child').removeClass('hide');
//     $('#cartslider .cart-menu li:not(:first-child):last-child').addClass('show');
//   }
// }


/* Agree to Terms */
$(document).delegate('.agree', 'click', function(e) {
  e.preventDefault();

  $('#modal-agree').remove();

  var element = this;

  $.ajax({
    url: $(element).attr('href'),
    type: 'get',
    dataType: 'html',
    success: function(data) {
      html  = '<div id="modal-agree" class="modal">';
      html += '  <div class="modal-dialog">';
      html += '    <div class="modal-content">';
      html += '      <div class="modal-header">';
      html += '        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>';
      html += '        <h4 class="modal-title">' + $(element).text() + '</h4>';
      html += '      </div>';
      html += '      <div class="modal-body">' + data + '</div>';
      html += '    </div>';
      html += '  </div>';
      html += '</div>';

      $('body').append(html);

      $('#modal-agree').modal('show');
    }
  });
});

// Autocomplete */
(function($) {
  $.fn.autocomplete = function(option) {
    return this.each(function() {
      this.timer = null;
      this.items = new Array();

      $.extend(this, option);

      $(this).attr('autocomplete', 'off');

      // Focus
      $(this).on('focus', function() {
        this.request();
      });

      // Blur
      $(this).on('blur', function() {
        setTimeout(function(object) {
          object.hide();
        }, 200, this);
      });

      // Keydown
      $(this).on('keydown', function(event) {
        switch(event.keyCode) {
          case 27: // escape
            this.hide();
            break;
          default:
            this.request();
            break;
        }
      });

      // Click
      this.click = function(event) {
        event.preventDefault();

        value = $(event.target).parent().attr('data-value');

        if (value && this.items[value]) {
          this.select(this.items[value]);
        }
      }

      // Show
      this.show = function() {
        var pos = $(this).position();

        $(this).siblings('ul.dropdown-menu').css({
          top: pos.top + $(this).outerHeight(),
          left: pos.left
        });

        $(this).siblings('ul.dropdown-menu').show();
      }

      // Hide
      this.hide = function() {
        $(this).siblings('ul.dropdown-menu').hide();
      }

      // Request
      this.request = function() {
        clearTimeout(this.timer);

        this.timer = setTimeout(function(object) {
          object.source($(object).val(), $.proxy(object.response, object));
        }, 200, this);
      }

      // Response
      this.response = function(json) {
        html = '';

        if (json.length) {
          for (i = 0; i < json.length; i++) {
            this.items[json[i]['value']] = json[i];
          }

          for (i = 0; i < json.length; i++) {
            if (!json[i]['category']) {
              html += '<li data-value="' + json[i]['value'] + '"><a href="#">' + json[i]['label'] + '</a></li>';
            }
          }

          // Get all the ones with a categories
          var category = new Array();

          for (i = 0; i < json.length; i++) {
            if (json[i]['category']) {
              if (!category[json[i]['category']]) {
                category[json[i]['category']] = new Array();
                category[json[i]['category']]['name'] = json[i]['category'];
                category[json[i]['category']]['item'] = new Array();
              }

              category[json[i]['category']]['item'].push(json[i]);
            }
          }

          for (i in category) {
            html += '<li class="dropdown-header">' + category[i]['name'] + '</li>';

            for (j = 0; j < category[i]['item'].length; j++) {
              html += '<li data-value="' + category[i]['item'][j]['value'] + '"><a href="#">&nbsp;&nbsp;&nbsp;' + category[i]['item'][j]['label'] + '</a></li>';
            }
          }
        }

        if (html) {
          this.show();
        } else {
          this.hide();
        }

        $(this).siblings('ul.dropdown-menu').html(html);
      }

      $(this).after('<ul class="dropdown-menu"></ul>');
      $(this).siblings('ul.dropdown-menu').delegate('a', 'click', $.proxy(this.click, this));

    });
  }
})(window.jQuery);
